/* LAYER NAME level192_flaked_fill */
/* CLASSIFIER INFO {'upper': '0.10096', 'lower': '0.03051', 'equality': 'upper', 'label': '0.03051 - 0.10096'} */
[qryChipToolDen.FLA > 0.03051] [qryChipToolDen.FLA <= 0.10096] {
  fill: #99cccc;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '0.18579', 'lower': '0.10096', 'equality': 'upper', 'label': '0.10097 - 0.18579'} */
[qryChipToolDen.FLA > 0.10096] [qryChipToolDen.FLA <= 0.18579] {
  fill: #66cccc;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '0.28783', 'lower': '0.18579', 'equality': 'upper', 'label': '0.18580 - 0.28783'} */
[qryChipToolDen.FLA > 0.18579] [qryChipToolDen.FLA <= 0.28783] {
  fill: #669999;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '0.43567', 'lower': '0.28783', 'equality': 'upper', 'label': '0.28784 - 0.43567'} */
[qryChipToolDen.FLA > 0.28783] [qryChipToolDen.FLA <= 0.43567] {
  fill: #336699;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '0.71884', 'lower': '0.43567', 'equality': 'upper', 'label': '0.43568 - 0.71884'} */
[qryChipToolDen.FLA > 0.43567] [qryChipToolDen.FLA <= 0.71884] {
  fill: #000066;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '1.42362', 'lower': '0.71884', 'equality': 'upper', 'label': '0.71885 - 1.42362'} */
[qryChipToolDen.FLA > 0.71884] [qryChipToolDen.FLA <= 1.42362] {
  fill: #000033;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '0.10096', 'lower': '0.03051', 'equality': 'upper', 'label': '0.03051 - 0.10096'} */
[qryChipToolDen.FLA > 0.03051] [qryChipToolDen.FLA <= 0.10096] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '0.18579', 'lower': '0.10096', 'equality': 'upper', 'label': '0.10097 - 0.18579'} */
[qryChipToolDen.FLA > 0.10096] [qryChipToolDen.FLA <= 0.18579] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '0.28783', 'lower': '0.18579', 'equality': 'upper', 'label': '0.18580 - 0.28783'} */
[qryChipToolDen.FLA > 0.18579] [qryChipToolDen.FLA <= 0.28783] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '0.43567', 'lower': '0.28783', 'equality': 'upper', 'label': '0.28784 - 0.43567'} */
[qryChipToolDen.FLA > 0.28783] [qryChipToolDen.FLA <= 0.43567] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '0.71884', 'lower': '0.43567', 'equality': 'upper', 'label': '0.43568 - 0.71884'} */
[qryChipToolDen.FLA > 0.43567] [qryChipToolDen.FLA <= 0.71884] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '1.42362', 'lower': '0.71884', 'equality': 'upper', 'label': '0.71885 - 1.42362'} */
[qryChipToolDen.FLA > 0.71884] [qryChipToolDen.FLA <= 1.42362] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

