/* LAYER NAME level18_cypro_archaic_to_classical_750_to_312bc */
* {
  fill: #d4cfc7;
  stroke: #d4cfc7;
  stroke-width: 1px;
}
/* CLASSIFIER INFO {'value': '0.12273', 'label': '0.12273'} */
[qryPottPerDen.AC = "0.12273"] {
  mark: symbol(circle);
  mark-size: 6px;
}
[qryPottPerDen.AC = "0.12273"] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '0.68924', 'lower': '0.12273', 'equality': 'upper', 'label': '0.12274 - 0.68924'} */
[qryPottPerDen.AC > 0.12273] [qryPottPerDen.AC <= 0.68924] {
  mark: symbol(circle);
  mark-size: 18px;
}
[qryPottPerDen.AC > 0.12273] [qryPottPerDen.AC <= 0.68924] :mark {
  fill: #993266;
}

