/* LAYER NAME level180_white_marble */
/* CLASSIFIER INFO {'value': '0.51908', 'label': '0.51908'} */
[qryLithMatDen.MAR = "0.51908"] {
  fill: #99cccc;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'value': '0.51908', 'label': '0.51908'} */
[qryLithMatDen.MAR = "0.51908"] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

