/* LAYER NAME level249_slag_slag_heap */
/* CLASSIFIER INFO {'value': '1', 'label': '1'} */
[tblposirec.slagchk = "1"] {
  mark: symbol(circle);
  mark-size: 8px;
}
[tblposirec.slagchk = "1"] :mark {
  fill: #ff0000;
}

