/* LAYER NAME level16_geom_class_1050_to_312bc */
* {
  fill: #d4cfc7;
  stroke: #d4cfc7;
  stroke-width: 1px;
}
/* CLASSIFIER INFO {'upper': '0.3227', 'lower': '0.03179', 'equality': 'upper', 'label': '0.03179 - 0.32270'} */
[qrypottperden.gac > 0.03179] [qrypottperden.gac <= 0.3227] {
  mark: symbol(circle);
  mark-size: 6px;
}
[qrypottperden.gac > 0.03179] [qrypottperden.gac <= 0.3227] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '0.68821', 'lower': '0.3227', 'equality': 'upper', 'label': '0.32271 - 0.68821'} */
[qrypottperden.gac > 0.3227] [qrypottperden.gac <= 0.68821] {
  mark: symbol(circle);
  mark-size: 8px;
}
[qrypottperden.gac > 0.3227] [qrypottperden.gac <= 0.68821] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '1.22637', 'lower': '0.68821', 'equality': 'upper', 'label': '0.68822 - 1.22637'} */
[qrypottperden.gac > 0.68821] [qrypottperden.gac <= 1.22637] {
  mark: symbol(circle);
  mark-size: 11px;
}
[qrypottperden.gac > 0.68821] [qrypottperden.gac <= 1.22637] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '2.23057', 'lower': '1.22637', 'equality': 'upper', 'label': '1.22638 - 2.23057'} */
[qrypottperden.gac > 1.22637] [qrypottperden.gac <= 2.23057] {
  mark: symbol(circle);
  mark-size: 13px;
}
[qrypottperden.gac > 1.22637] [qrypottperden.gac <= 2.23057] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '3.76136', 'lower': '2.23057', 'equality': 'upper', 'label': '2.23058 - 3.76136'} */
[qrypottperden.gac > 2.23057] [qrypottperden.gac <= 3.76136] {
  mark: symbol(circle);
  mark-size: 16px;
}
[qrypottperden.gac > 2.23057] [qrypottperden.gac <= 3.76136] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '6.99674', 'lower': '3.76136', 'equality': 'upper', 'label': '3.76137 - 6.99674'} */
[qrypottperden.gac > 3.76136] [qrypottperden.gac <= 6.99674] {
  mark: symbol(circle);
  mark-size: 18px;
}
[qrypottperden.gac > 3.76136] [qrypottperden.gac <= 6.99674] :mark {
  fill: #993266;
}

