/* LAYER NAME level78_medieval_ut_1_ad_l_12th_to_l_14th_e_15thcen */
/* CLASSIFIER INFO {'upper': '0.29095', 'lower': '0.11124', 'equality': 'upper', 'label': '0.11124 - 0.29095'} */
[qrypottperden.medui > 0.11124] [qrypottperden.medui <= 0.29095] {
  fill: #cc99cc;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '0.63046', 'lower': '0.29095', 'equality': 'upper', 'label': '0.29096 - 0.63046'} */
[qrypottperden.medui > 0.29095] [qrypottperden.medui <= 0.63046] {
  fill: #cc66cc;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '1.55721', 'lower': '0.63046', 'equality': 'upper', 'label': '0.63047 - 1.55721'} */
[qrypottperden.medui > 0.63046] [qrypottperden.medui <= 1.55721] {
  fill: #996799;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '2.56458', 'lower': '1.55721', 'equality': 'upper', 'label': '1.55722 - 2.56458'} */
[qrypottperden.medui > 1.55721] [qrypottperden.medui <= 2.56458] {
  fill: #993266;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '4.67119', 'lower': '2.56458', 'equality': 'upper', 'label': '2.56459 - 4.67119'} */
[qrypottperden.medui > 2.56458] [qrypottperden.medui <= 4.67119] {
  fill: #660000;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '10.12206', 'lower': '4.67119', 'equality': 'upper', 'label': '4.67120 - 10.12206'} */
[qrypottperden.medui > 4.67119] [qrypottperden.medui <= 10.12206] {
  fill: #330000;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '0.29095', 'lower': '0.11124', 'equality': 'upper', 'label': '0.11124 - 0.29095'} */
[qrypottperden.medui > 0.11124] [qrypottperden.medui <= 0.29095] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '0.63046', 'lower': '0.29095', 'equality': 'upper', 'label': '0.29096 - 0.63046'} */
[qrypottperden.medui > 0.29095] [qrypottperden.medui <= 0.63046] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '1.55721', 'lower': '0.63046', 'equality': 'upper', 'label': '0.63047 - 1.55721'} */
[qrypottperden.medui > 0.63046] [qrypottperden.medui <= 1.55721] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '2.56458', 'lower': '1.55721', 'equality': 'upper', 'label': '1.55722 - 2.56458'} */
[qrypottperden.medui > 1.55721] [qrypottperden.medui <= 2.56458] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '4.67119', 'lower': '2.56458', 'equality': 'upper', 'label': '2.56459 - 4.67119'} */
[qrypottperden.medui > 2.56458] [qrypottperden.medui <= 4.67119] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '10.12206', 'lower': '4.67119', 'equality': 'upper', 'label': '4.67120 - 10.12206'} */
[qrypottperden.medui > 4.67119] [qrypottperden.medui <= 10.12206] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

