/* LAYER NAME level36_medieval_to_ottoman_ad1191_to_1878 */
* {
  fill: #d4cfc7;
  stroke: #d4cfc7;
  stroke-width: 1px;
}
/* CLASSIFIER INFO {'value': '0.17496', 'label': '0.17496'} */
[qrypottperden.medott = "0.17496"] {
  mark: symbol(circle);
  mark-size: 6px;
}
[qrypottperden.medott = "0.17496"] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '0.35679', 'lower': '0.17496', 'equality': 'upper', 'label': '0.17497 - 0.35679'} */
[qrypottperden.medott > 0.17496] [qrypottperden.medott <= 0.35679] {
  mark: symbol(circle);
  mark-size: 8px;
}
[qrypottperden.medott > 0.17496] [qrypottperden.medott <= 0.35679] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '0.63226', 'lower': '0.35679', 'equality': 'upper', 'label': '0.35680 - 0.63226'} */
[qrypottperden.medott > 0.35679] [qrypottperden.medott <= 0.63226] {
  mark: symbol(circle);
  mark-size: 11px;
}
[qrypottperden.medott > 0.35679] [qrypottperden.medott <= 0.63226] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '1.01489', 'lower': '0.63226', 'equality': 'upper', 'label': '0.63227 - 1.01489'} */
[qrypottperden.medott > 0.63226] [qrypottperden.medott <= 1.01489] {
  mark: symbol(circle);
  mark-size: 13px;
}
[qrypottperden.medott > 0.63226] [qrypottperden.medott <= 1.01489] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '1.86908', 'lower': '1.01489', 'equality': 'upper', 'label': '1.01490 - 1.86908'} */
[qrypottperden.medott > 1.01489] [qrypottperden.medott <= 1.86908] {
  mark: symbol(circle);
  mark-size: 16px;
}
[qrypottperden.medott > 1.01489] [qrypottperden.medott <= 1.86908] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '5.1998', 'lower': '1.86908', 'equality': 'upper', 'label': '1.86909 - 5.19980'} */
[qrypottperden.medott > 1.86908] [qrypottperden.medott <= 5.1998] {
  mark: symbol(circle);
  mark-size: 18px;
}
[qrypottperden.medott > 1.86908] [qrypottperden.medott <= 5.1998] :mark {
  fill: #993266;
}

