/* LAYER NAME level199_utilised */
* {
  fill: #d4cfc7;
  stroke: #d4cfc7;
  stroke-width: 1px;
}
/* CLASSIFIER INFO {'value': '1', 'label': '1.00000'} */
[qrychiptoolcounts.uti = "1"] {
  mark: symbol(circle);
  mark-size: 6px;
}
[qrychiptoolcounts.uti = "1"] :mark {
  fill: #336699;
}

/* CLASSIFIER INFO {'upper': '2', 'lower': '1', 'equality': 'upper', 'label': '1.00001 - 2.00000'} */
[qrychiptoolcounts.uti > 1] [qrychiptoolcounts.uti <= 2] {
  mark: symbol(circle);
  mark-size: 18px;
}
[qrychiptoolcounts.uti > 1] [qrychiptoolcounts.uti <= 2] :mark {
  fill: #336699;
}

