/* LAYER NAME level136_kaolin */
/* CLASSIFIER INFO {'upper': '0.37004', 'lower': '0.05124', 'equality': 'upper', 'label': '0.05124 - 0.37004'} */
[qryPottFabDen.K > 0.05124] [qryPottFabDen.K <= 0.37004] {
  fill: #cc99cc;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '0.72577', 'lower': '0.37004', 'equality': 'upper', 'label': '0.37005 - 0.72577'} */
[qryPottFabDen.K > 0.37004] [qryPottFabDen.K <= 0.72577] {
  fill: #cc66cc;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '1.19736', 'lower': '0.72577', 'equality': 'upper', 'label': '0.72578 - 1.19736'} */
[qryPottFabDen.K > 0.72577] [qryPottFabDen.K <= 1.19736] {
  fill: #996799;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '1.76559', 'lower': '1.19736', 'equality': 'upper', 'label': '1.19737 - 1.76559'} */
[qryPottFabDen.K > 1.19736] [qryPottFabDen.K <= 1.76559] {
  fill: #993266;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '2.54705', 'lower': '1.76559', 'equality': 'upper', 'label': '1.76560 - 2.54705'} */
[qryPottFabDen.K > 1.76559] [qryPottFabDen.K <= 2.54705] {
  fill: #660000;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '4.31967', 'lower': '2.54705', 'equality': 'upper', 'label': '2.54706 - 4.31967'} */
[qryPottFabDen.K > 2.54705] [qryPottFabDen.K <= 4.31967] {
  fill: #330000;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '0.37004', 'lower': '0.05124', 'equality': 'upper', 'label': '0.05124 - 0.37004'} */
[qryPottFabDen.K > 0.05124] [qryPottFabDen.K <= 0.37004] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '0.72577', 'lower': '0.37004', 'equality': 'upper', 'label': '0.37005 - 0.72577'} */
[qryPottFabDen.K > 0.37004] [qryPottFabDen.K <= 0.72577] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '1.19736', 'lower': '0.72577', 'equality': 'upper', 'label': '0.72578 - 1.19736'} */
[qryPottFabDen.K > 0.72577] [qryPottFabDen.K <= 1.19736] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '1.76559', 'lower': '1.19736', 'equality': 'upper', 'label': '1.19737 - 1.76559'} */
[qryPottFabDen.K > 1.19736] [qryPottFabDen.K <= 1.76559] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '2.54705', 'lower': '1.76559', 'equality': 'upper', 'label': '1.76560 - 2.54705'} */
[qryPottFabDen.K > 1.76559] [qryPottFabDen.K <= 2.54705] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '4.31967', 'lower': '2.54705', 'equality': 'upper', 'label': '2.54706 - 4.31967'} */
[qryPottFabDen.K > 2.54705] [qryPottFabDen.K <= 4.31967] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

