/* LAYER NAME level17_cypro_archaic_750_to_475bc */
* {
  fill: #d4cfc7;
  stroke: #d4cfc7;
  stroke-width: 1px;
}
/* CLASSIFIER INFO {'value': '0.11529', 'label': '0.11529'} */
[qryPottPerDen.AR = "0.11529"] {
  mark: symbol(circle);
  mark-size: 6px;
}
[qryPottPerDen.AR = "0.11529"] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '0.26754', 'lower': '0.11529', 'equality': 'upper', 'label': '0.11530 - 0.26754'} */
[qryPottPerDen.AR > 0.11529] [qryPottPerDen.AR <= 0.26754] {
  mark: symbol(circle);
  mark-size: 18px;
}
[qryPottPerDen.AR > 0.11529] [qryPottPerDen.AR <= 0.26754] :mark {
  fill: #993266;
}

