/* LAYER NAME level39_med_frankish_ad14th_to_15thcen */
* {
  fill: #d4cfc7;
  stroke: #d4cfc7;
  stroke-width: 1px;
}
/* CLASSIFIER INFO {'upper': '0.38391', 'lower': '0.07658', 'equality': 'upper', 'label': '0.07658 - 0.38391'} */
[qrypottperden.medf > 0.07658] [qrypottperden.medf <= 0.38391] {
  mark: symbol(circle);
  mark-size: 6px;
}
[qrypottperden.medf > 0.07658] [qrypottperden.medf <= 0.38391] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '0.84261', 'lower': '0.38391', 'equality': 'upper', 'label': '0.38392 - 0.84261'} */
[qrypottperden.medf > 0.38391] [qrypottperden.medf <= 0.84261] {
  mark: symbol(circle);
  mark-size: 8px;
}
[qrypottperden.medf > 0.38391] [qrypottperden.medf <= 0.84261] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '1.84429', 'lower': '0.84261', 'equality': 'upper', 'label': '0.84262 - 1.84429'} */
[qrypottperden.medf > 0.84261] [qrypottperden.medf <= 1.84429] {
  mark: symbol(circle);
  mark-size: 11px;
}
[qrypottperden.medf > 0.84261] [qrypottperden.medf <= 1.84429] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '3.40268', 'lower': '1.84429', 'equality': 'upper', 'label': '1.84430 - 3.40268'} */
[qrypottperden.medf > 1.84429] [qrypottperden.medf <= 3.40268] {
  mark: symbol(circle);
  mark-size: 13px;
}
[qrypottperden.medf > 1.84429] [qrypottperden.medf <= 3.40268] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '6.63002', 'lower': '3.40268', 'equality': 'upper', 'label': '3.40269 - 6.63002'} */
[qrypottperden.medf > 3.40268] [qrypottperden.medf <= 6.63002] {
  mark: symbol(circle);
  mark-size: 16px;
}
[qrypottperden.medf > 3.40268] [qrypottperden.medf <= 6.63002] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '10.3996', 'lower': '6.63002', 'equality': 'upper', 'label': '6.63003 - 10.39960'} */
[qrypottperden.medf > 6.63002] [qrypottperden.medf <= 10.3996] {
  mark: symbol(circle);
  mark-size: 18px;
}
[qrypottperden.medf > 6.63002] [qrypottperden.medf <= 10.3996] :mark {
  fill: #993266;
}

