/* LAYER NAME level223_land_use */
/* CLASSIFIER INFO {'value': 'Gr', 'label': 'Gr'} */
[tblGUF.LandUse = "Gr"] {
  fill: #006600;
  stroke: #d4d0c8;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'label': '<all other values>'} */
* {
  fill: #cccc99;
  stroke: #d4d0c8;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'value': 'Fa', 'label': 'Fa'} */
[tblGUF.LandUse = "Fa"] {
  fill: #cccc66;
  stroke: #d4d0c8;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'value': 'Cu', 'label': 'Cu'} */
[tblGUF.LandUse = "Cu"] {
  fill: #999967;
  stroke: #d4d0c8;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'value': 'Fo', 'label': 'Fo'} */
[tblGUF.LandUse = "Fo"] {
  fill: #669932;
  stroke: #d4d0c8;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'value': 'Gr', 'label': 'Gr'} */
[tblGUF.LandUse = "Gr"] {
  stroke: #d4d0c8;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'value': 'Og', 'label': 'Og'} */
[tblGUF.LandUse = "Og"] {
  fill: #003300;
  stroke: #d4d0c8;
  stroke-width: 1px;
}

