/* LAYER NAME level33_byzantine_ad650_to_1191 */
* {
  fill: #d4cfc7;
  stroke: #d4cfc7;
  stroke-width: 1px;
}
/* CLASSIFIER INFO {'value': '0.3569', 'label': '0.35690'} */
[qrypottperden.byz = "0.3569"] {
  mark: symbol(circle);
  mark-size: 6px;
}
[qrypottperden.byz = "0.3569"] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '0.44421', 'lower': '0.3569', 'equality': 'upper', 'label': '0.35691 - 0.44421'} */
[qrypottperden.byz > 0.3569] [qrypottperden.byz <= 0.44421] {
  mark: symbol(circle);
  mark-size: 8px;
}
[qrypottperden.byz > 0.3569] [qrypottperden.byz <= 0.44421] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '0.48822', 'lower': '0.44421', 'equality': 'upper', 'label': '0.44422 - 0.48822'} */
[qrypottperden.byz > 0.44421] [qrypottperden.byz <= 0.48822] {
  mark: symbol(circle);
  mark-size: 11px;
}
[qrypottperden.byz > 0.44421] [qrypottperden.byz <= 0.48822] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '0.7297', 'lower': '0.48822', 'equality': 'upper', 'label': '0.48823 - 0.72970'} */
[qrypottperden.byz > 0.48822] [qrypottperden.byz <= 0.7297] {
  mark: symbol(circle);
  mark-size: 13px;
}
[qrypottperden.byz > 0.48822] [qrypottperden.byz <= 0.7297] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '0.7786', 'lower': '0.7297', 'equality': 'upper', 'label': '0.72971 - 0.77860'} */
[qrypottperden.byz > 0.7297] [qrypottperden.byz <= 0.7786] {
  mark: symbol(circle);
  mark-size: 16px;
}
[qrypottperden.byz > 0.7297] [qrypottperden.byz <= 0.7786] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '1.06233', 'lower': '0.7786', 'equality': 'upper', 'label': '0.77861 - 1.06233'} */
[qrypottperden.byz > 0.7786] [qrypottperden.byz <= 1.06233] {
  mark: symbol(circle);
  mark-size: 18px;
}
[qrypottperden.byz > 0.7786] [qrypottperden.byz <= 1.06233] :mark {
  fill: #993266;
}

