/* LAYER NAME level206_cutting */
* {
  fill: #d4cfc7;
  stroke: #d4cfc7;
  stroke-width: 1px;
}
/* CLASSIFIER INFO {'value': '1.00000', 'label': '1.00000'} */
[qrygrdclasscounts.cut = "1.00000"] {
  mark: symbol(circle);
  mark-size: 6px;
}
[qrygrdclasscounts.cut = "1.00000"] :mark {
  fill: #336699;
}

