/* LAYER NAME level8_prehistoric_before_750bc */
* {
  fill: #d4cfc7;
  stroke: #d4cfc7;
  stroke-width: 1px;
}
/* CLASSIFIER INFO {'value': '0.27483', 'label': '0.27483'} */
[qrypottperden.ph = "0.27483"] {
  mark: symbol(circle);
  mark-size: 6px;
}
[qrypottperden.ph = "0.27483"] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '0.49634', 'lower': '0.27483', 'equality': 'upper', 'label': '0.27484 - 0.49634'} */
[qrypottperden.ph > 0.27483] [qrypottperden.ph <= 0.49634] {
  mark: symbol(circle);
  mark-size: 12px;
}
[qrypottperden.ph > 0.27483] [qrypottperden.ph <= 0.49634] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '2.92001', 'lower': '0.49634', 'equality': 'upper', 'label': '0.49635 - 2.92001'} */
[qrypottperden.ph > 0.49634] [qrypottperden.ph <= 2.92001] {
  mark: symbol(circle);
  mark-size: 18px;
}
[qrypottperden.ph > 0.49634] [qrypottperden.ph <= 2.92001] :mark {
  fill: #993266;
}

