/* LAYER NAME level79_medieval_ad1191_to_1571 */
/* CLASSIFIER INFO {'upper': '0.16212', 'lower': '0.06975', 'equality': 'upper', 'label': '0.06975 - 0.16212'} */
[qrypottperden.med > 0.06975] [qrypottperden.med <= 0.16212] {
  fill: #cc99cc;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '0.35109', 'lower': '0.16212', 'equality': 'upper', 'label': '0.16213 - 0.35109'} */
[qrypottperden.med > 0.16212] [qrypottperden.med <= 0.35109] {
  fill: #cc66cc;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '0.84261', 'lower': '0.35109', 'equality': 'upper', 'label': '0.35110 - 0.84261'} */
[qrypottperden.med > 0.35109] [qrypottperden.med <= 0.84261] {
  fill: #996799;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '1.35823', 'lower': '0.84261', 'equality': 'upper', 'label': '0.84262 - 1.35823'} */
[qrypottperden.med > 0.84261] [qrypottperden.med <= 1.35823] {
  fill: #993266;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '2.01584', 'lower': '1.35823', 'equality': 'upper', 'label': '1.35824 - 2.01584'} */
[qrypottperden.med > 1.35823] [qrypottperden.med <= 2.01584] {
  fill: #660000;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '3.43479', 'lower': '2.01584', 'equality': 'upper', 'label': '2.01585 - 3.43479'} */
[qrypottperden.med > 2.01584] [qrypottperden.med <= 3.43479] {
  fill: #330000;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '0.16212', 'lower': '0.06975', 'equality': 'upper', 'label': '0.06975 - 0.16212'} */
[qrypottperden.med > 0.06975] [qrypottperden.med <= 0.16212] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '0.35109', 'lower': '0.16212', 'equality': 'upper', 'label': '0.16213 - 0.35109'} */
[qrypottperden.med > 0.16212] [qrypottperden.med <= 0.35109] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '0.84261', 'lower': '0.35109', 'equality': 'upper', 'label': '0.35110 - 0.84261'} */
[qrypottperden.med > 0.35109] [qrypottperden.med <= 0.84261] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '1.35823', 'lower': '0.84261', 'equality': 'upper', 'label': '0.84262 - 1.35823'} */
[qrypottperden.med > 0.84261] [qrypottperden.med <= 1.35823] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '2.01584', 'lower': '1.35823', 'equality': 'upper', 'label': '1.35824 - 2.01584'} */
[qrypottperden.med > 1.35823] [qrypottperden.med <= 2.01584] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '3.43479', 'lower': '2.01584', 'equality': 'upper', 'label': '2.01585 - 3.43479'} */
[qrypottperden.med > 2.01584] [qrypottperden.med <= 3.43479] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

