/* LAYER NAME level193_dhoukani_fill */
/* CLASSIFIER INFO {'upper': '0.07068', 'lower': '0.03121', 'equality': 'upper', 'label': '0.03121 - 0.07068'} */
[qryChipToolDen.DHO > 0.03121] [qryChipToolDen.DHO <= 0.07068] {
  fill: #99cccc;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '0.11697', 'lower': '0.07068', 'equality': 'upper', 'label': '0.07069 - 0.11697'} */
[qryChipToolDen.DHO > 0.07068] [qryChipToolDen.DHO <= 0.11697] {
  fill: #66cccc;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '0.17049', 'lower': '0.11697', 'equality': 'upper', 'label': '0.11698 - 0.17049'} */
[qryChipToolDen.DHO > 0.11697] [qryChipToolDen.DHO <= 0.17049] {
  fill: #669999;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '0.25665', 'lower': '0.17049', 'equality': 'upper', 'label': '0.17050 - 0.25665'} */
[qryChipToolDen.DHO > 0.17049] [qryChipToolDen.DHO <= 0.25665] {
  fill: #336699;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '0.47951', 'lower': '0.25665', 'equality': 'upper', 'label': '0.25666 - 0.47951'} */
[qryChipToolDen.DHO > 0.25665] [qryChipToolDen.DHO <= 0.47951] {
  fill: #000066;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '1.12162', 'lower': '0.47951', 'equality': 'upper', 'label': '0.47952 - 1.12162'} */
[qryChipToolDen.DHO > 0.47951] [qryChipToolDen.DHO <= 1.12162] {
  fill: #000033;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '0.07068', 'lower': '0.03121', 'equality': 'upper', 'label': '0.03121 - 0.07068'} */
[qryChipToolDen.DHO > 0.03121] [qryChipToolDen.DHO <= 0.07068] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '0.11697', 'lower': '0.07068', 'equality': 'upper', 'label': '0.07069 - 0.11697'} */
[qryChipToolDen.DHO > 0.07068] [qryChipToolDen.DHO <= 0.11697] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '0.17049', 'lower': '0.11697', 'equality': 'upper', 'label': '0.11698 - 0.17049'} */
[qryChipToolDen.DHO > 0.11697] [qryChipToolDen.DHO <= 0.17049] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '0.25665', 'lower': '0.17049', 'equality': 'upper', 'label': '0.17050 - 0.25665'} */
[qryChipToolDen.DHO > 0.17049] [qryChipToolDen.DHO <= 0.25665] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '0.47951', 'lower': '0.25665', 'equality': 'upper', 'label': '0.25666 - 0.47951'} */
[qryChipToolDen.DHO > 0.25665] [qryChipToolDen.DHO <= 0.47951] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '1.12162', 'lower': '0.47951', 'equality': 'upper', 'label': '0.47952 - 1.12162'} */
[qryChipToolDen.DHO > 0.47951] [qryChipToolDen.DHO <= 1.12162] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

