/* LAYER NAME level274_hydrology */
/* CLASSIFIER INFO {'value': '4', 'label': '4'} */
[order_ = "4"] {
  stroke: #006699;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'value': '5', 'label': '5'} */
[order_ = "5"] {
  stroke: #006699;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'value': '6', 'label': '6'} */
[order_ = "6"] {
  stroke: #006699;
  stroke-width: 1px;
  stroke-linecap: round;
}

