/* LAYER NAME level90_modern_ad1878_to_present */
/* CLASSIFIER INFO {'upper': '1.30256', 'lower': '0.02709', 'equality': 'upper', 'label': '0.02709 - 1.30256'} */
[qrypottperden.mod > 0.02709] [qrypottperden.mod <= 1.30256] {
  fill: #cc99cc;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '3.50149', 'lower': '1.30256', 'equality': 'upper', 'label': '1.30257 - 3.50149'} */
[qrypottperden.mod > 1.30256] [qrypottperden.mod <= 3.50149] {
  fill: #cc66cc;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '7.71778', 'lower': '3.50149', 'equality': 'upper', 'label': '3.50150 - 7.71778'} */
[qrypottperden.mod > 3.50149] [qrypottperden.mod <= 7.71778] {
  fill: #996799;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '15.9681', 'lower': '7.71778', 'equality': 'upper', 'label': '7.71779 - 15.96810'} */
[qrypottperden.mod > 7.71778] [qrypottperden.mod <= 15.9681] {
  fill: #993266;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '28.73676', 'lower': '15.9681', 'equality': 'upper', 'label': '15.96811 - 28.73676'} */
[qrypottperden.mod > 15.9681] [qrypottperden.mod <= 28.73676] {
  fill: #660000;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '66.84855', 'lower': '28.73676', 'equality': 'upper', 'label': '28.73677 - 66.84855'} */
[qrypottperden.mod > 28.73676] [qrypottperden.mod <= 66.84855] {
  fill: #330000;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '1.30256', 'lower': '0.02709', 'equality': 'upper', 'label': '0.02709 - 1.30256'} */
[qrypottperden.mod > 0.02709] [qrypottperden.mod <= 1.30256] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '3.50149', 'lower': '1.30256', 'equality': 'upper', 'label': '1.30257 - 3.50149'} */
[qrypottperden.mod > 1.30256] [qrypottperden.mod <= 3.50149] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '7.71778', 'lower': '3.50149', 'equality': 'upper', 'label': '3.50150 - 7.71778'} */
[qrypottperden.mod > 3.50149] [qrypottperden.mod <= 7.71778] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '15.9681', 'lower': '7.71778', 'equality': 'upper', 'label': '7.71779 - 15.96810'} */
[qrypottperden.mod > 7.71778] [qrypottperden.mod <= 15.9681] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '28.73676', 'lower': '15.9681', 'equality': 'upper', 'label': '15.96811 - 28.73676'} */
[qrypottperden.mod > 15.9681] [qrypottperden.mod <= 28.73676] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '66.84855', 'lower': '28.73676', 'equality': 'upper', 'label': '28.73677 - 66.84855'} */
[qrypottperden.mod > 28.73676] [qrypottperden.mod <= 66.84855] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

