/* LAYER NAME level19_cypro_classical_475_to_312bc */
* {
  fill: #d4cfc7;
  stroke: #d4cfc7;
  stroke-width: 1px;
}
/* CLASSIFIER INFO {'value': '0.51982', 'label': '0.51982'} */
[qrypottperden.cl = "0.51982"] {
  mark: symbol(circle);
  mark-size: 6px;
}
[qrypottperden.cl = "0.51982"] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '0.68924', 'lower': '0.51982', 'equality': 'upper', 'label': '0.51983 - 0.68924'} */
[qrypottperden.cl > 0.51982] [qrypottperden.cl <= 0.68924] {
  mark: symbol(circle);
  mark-size: 12px;
}
[qrypottperden.cl > 0.51982] [qrypottperden.cl <= 0.68924] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '4.97252', 'lower': '0.68924', 'equality': 'upper', 'label': '0.68925 - 4.97252'} */
[qrypottperden.cl > 0.68924] [qrypottperden.cl <= 4.97252] {
  mark: symbol(circle);
  mark-size: 18px;
}
[qrypottperden.cl > 0.68924] [qrypottperden.cl <= 4.97252] :mark {
  fill: #993266;
}

