/* LAYER NAME level140_blank */
* {
  fill: #d4cfc7;
  stroke: #d4cfc7;
  stroke-width: 1px;
}
/* CLASSIFIER INFO {'upper': '0.13586', 'lower': '0.03262', 'equality': 'upper', 'label': '0.03262 - 0.13586'} */
[qrychipcobldeden.bl > 0.03262] [qrychipcobldeden.bl <= 0.13586] {
  mark: symbol(circle);
  mark-size: 6px;
}
[qrychipcobldeden.bl > 0.03262] [qrychipcobldeden.bl <= 0.13586] :mark {
  fill: #336699;
}

/* CLASSIFIER INFO {'upper': '0.29341', 'lower': '0.13586', 'equality': 'upper', 'label': '0.13587 - 0.29341'} */
[qrychipcobldeden.bl > 0.13586] [qrychipcobldeden.bl <= 0.29341] {
  mark: symbol(circle);
  mark-size: 8px;
}
[qrychipcobldeden.bl > 0.13586] [qrychipcobldeden.bl <= 0.29341] :mark {
  fill: #336699;
}

/* CLASSIFIER INFO {'upper': '0.5091', 'lower': '0.29341', 'equality': 'upper', 'label': '0.29342 - 0.50910'} */
[qrychipcobldeden.bl > 0.29341] [qrychipcobldeden.bl <= 0.5091] {
  mark: symbol(circle);
  mark-size: 11px;
}
[qrychipcobldeden.bl > 0.29341] [qrychipcobldeden.bl <= 0.5091] :mark {
  fill: #336699;
}

/* CLASSIFIER INFO {'upper': '0.85935', 'lower': '0.5091', 'equality': 'upper', 'label': '0.50911 - 0.85935'} */
[qrychipcobldeden.bl > 0.5091] [qrychipcobldeden.bl <= 0.85935] {
  mark: symbol(circle);
  mark-size: 13px;
}
[qrychipcobldeden.bl > 0.5091] [qrychipcobldeden.bl <= 0.85935] :mark {
  fill: #336699;
}

/* CLASSIFIER INFO {'upper': '1.42362', 'lower': '0.85935', 'equality': 'upper', 'label': '0.85936 - 1.42362'} */
[qrychipcobldeden.bl > 0.85935] [qrychipcobldeden.bl <= 1.42362] {
  mark: symbol(circle);
  mark-size: 16px;
}
[qrychipcobldeden.bl > 0.85935] [qrychipcobldeden.bl <= 1.42362] :mark {
  fill: #336699;
}

/* CLASSIFIER INFO {'upper': '3.50544', 'lower': '1.42362', 'equality': 'upper', 'label': '1.42363 - 3.50544'} */
[qrychipcobldeden.bl > 1.42362] [qrychipcobldeden.bl <= 3.50544] {
  mark: symbol(circle);
  mark-size: 18px;
}
[qrychipcobldeden.bl > 1.42362] [qrychipcobldeden.bl <= 3.50544] :mark {
  fill: #336699;
}

