/* LAYER NAME level117_tableware */
* {
  fill: #d4cfc7;
  stroke: #d4cfc7;
  stroke-width: 1px;
}
/* CLASSIFIER INFO {'upper': '2.71377', 'lower': '0.02232', 'equality': 'upper', 'label': '0.02232 - 2.71377'} */
[qrypotfctden.tw > 0.02232] [qrypotfctden.tw <= 2.71377] {
  mark: symbol(circle);
  mark-size: 6px;
}
[qrypotfctden.tw > 0.02232] [qrypotfctden.tw <= 2.71377] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '7.9021', 'lower': '2.71377', 'equality': 'upper', 'label': '2.71378 - 7.90210'} */
[qrypotfctden.tw > 2.71377] [qrypotfctden.tw <= 7.9021] {
  mark: symbol(circle);
  mark-size: 8px;
}
[qrypotfctden.tw > 2.71377] [qrypotfctden.tw <= 7.9021] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '16.2668', 'lower': '7.9021', 'equality': 'upper', 'label': '7.90211 - 16.26680'} */
[qrypotfctden.tw > 7.9021] [qrypotfctden.tw <= 16.2668] {
  mark: symbol(circle);
  mark-size: 11px;
}
[qrypotfctden.tw > 7.9021] [qrypotfctden.tw <= 16.2668] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '32.15633', 'lower': '16.2668', 'equality': 'upper', 'label': '16.26681 - 32.15633'} */
[qrypotfctden.tw > 16.2668] [qrypotfctden.tw <= 32.15633] {
  mark: symbol(circle);
  mark-size: 13px;
}
[qrypotfctden.tw > 16.2668] [qrypotfctden.tw <= 32.15633] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '60.21256', 'lower': '32.15633', 'equality': 'upper', 'label': '32.15634 - 60.21256'} */
[qrypotfctden.tw > 32.15633] [qrypotfctden.tw <= 60.21256] {
  mark: symbol(circle);
  mark-size: 16px;
}
[qrypotfctden.tw > 32.15633] [qrypotfctden.tw <= 60.21256] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '116.32058', 'lower': '60.21256', 'equality': 'upper', 'label': '60.21257 - 116.32058'} */
[qrypotfctden.tw > 60.21256] [qrypotfctden.tw <= 116.32058] {
  mark: symbol(circle);
  mark-size: 18px;
}
[qrypotfctden.tw > 60.21256] [qrypotfctden.tw <= 116.32058] :mark {
  fill: #993266;
}

