/* LAYER NAME level89_ott_to_mod_ii_ad18th_to_mid_20th_cen */
/* CLASSIFIER INFO {'upper': '1.34197', 'lower': '0.02887', 'equality': 'upper', 'label': '0.02887 - 1.34197'} */
[qryPottPerDen.OTTMODII > 0.02887] [qryPottPerDen.OTTMODII <= 1.34197] {
  fill: #cc99cc;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '2.96185', 'lower': '1.34197', 'equality': 'upper', 'label': '1.34198 - 2.96185'} */
[qryPottPerDen.OTTMODII > 1.34197] [qryPottPerDen.OTTMODII <= 2.96185] {
  fill: #cc66cc;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '4.92548', 'lower': '2.96185', 'equality': 'upper', 'label': '2.96186 - 4.92548'} */
[qryPottPerDen.OTTMODII > 2.96185] [qryPottPerDen.OTTMODII <= 4.92548] {
  fill: #996799;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '7.5817', 'lower': '4.92548', 'equality': 'upper', 'label': '4.92549 - 7.58170'} */
[qryPottPerDen.OTTMODII > 4.92548] [qryPottPerDen.OTTMODII <= 7.5817] {
  fill: #993266;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '12.34165', 'lower': '7.5817', 'equality': 'upper', 'label': '7.58171 - 12.34165'} */
[qryPottPerDen.OTTMODII > 7.5817] [qryPottPerDen.OTTMODII <= 12.34165] {
  fill: #660000;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '19.75006', 'lower': '12.34165', 'equality': 'upper', 'label': '12.34166 - 19.75006'} */
[qryPottPerDen.OTTMODII > 12.34165] [qryPottPerDen.OTTMODII <= 19.75006] {
  fill: #330000;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '1.34197', 'lower': '0.02887', 'equality': 'upper', 'label': '0.02887 - 1.34197'} */
[qryPottPerDen.OTTMODII > 0.02887] [qryPottPerDen.OTTMODII <= 1.34197] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '2.96185', 'lower': '1.34197', 'equality': 'upper', 'label': '1.34198 - 2.96185'} */
[qryPottPerDen.OTTMODII > 1.34197] [qryPottPerDen.OTTMODII <= 2.96185] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '4.92548', 'lower': '2.96185', 'equality': 'upper', 'label': '2.96186 - 4.92548'} */
[qryPottPerDen.OTTMODII > 2.96185] [qryPottPerDen.OTTMODII <= 4.92548] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '7.5817', 'lower': '4.92548', 'equality': 'upper', 'label': '4.92549 - 7.58170'} */
[qryPottPerDen.OTTMODII > 4.92548] [qryPottPerDen.OTTMODII <= 7.5817] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '12.34165', 'lower': '7.5817', 'equality': 'upper', 'label': '7.58171 - 12.34165'} */
[qryPottPerDen.OTTMODII > 7.5817] [qryPottPerDen.OTTMODII <= 12.34165] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '19.75006', 'lower': '12.34165', 'equality': 'upper', 'label': '12.34166 - 19.75006'} */
[qryPottPerDen.OTTMODII > 12.34165] [qryPottPerDen.OTTMODII <= 19.75006] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

