/* LAYER NAME level387_tool_total_cirlces */
* {
  fill: #d4cfc7;
  stroke: #d4cfc7;
  stroke-width: 1px;
}
/* CLASSIFIER INFO {'upper': '0.16110', 'lower': '0.02232', 'equality': 'upper', 'label': '0.02232 - 0.16110'} */
[qrychiptoolden.tooldentot > 0.02232] [qrychiptoolden.tooldentot <= 0.16110] {
  mark: symbol(circle);
  mark-size: 4px;
}
[qrychiptoolden.tooldentot > 0.02232] [qrychiptoolden.tooldentot <= 0.16110] :mark {
  fill: #336699;
}

/* CLASSIFIER INFO {'upper': '0.33815', 'lower': '0.16111', 'equality': 'upper', 'label': '0.16111 - 0.33815'} */
[qrychiptoolden.tooldentot > 0.16111] [qrychiptoolden.tooldentot <= 0.33815] {
  mark: symbol(circle);
  mark-size: 7.5px;
}
[qrychiptoolden.tooldentot > 0.16111] [qrychiptoolden.tooldentot <= 0.33815] :mark {
  fill: #336699;
}

/* CLASSIFIER INFO {'upper': '0.58255', 'lower': '0.33816', 'equality': 'upper', 'label': '0.33816 - 0.58255'} */
[qrychiptoolden.tooldentot > 0.33816] [qrychiptoolden.tooldentot <= 0.58255] {
  mark: symbol(circle);
  mark-size: 11px;
}
[qrychiptoolden.tooldentot > 0.33816] [qrychiptoolden.tooldentot <= 0.58255] :mark {
  fill: #336699;
}

/* CLASSIFIER INFO {'upper': '1.04934', 'lower': '0.58256', 'equality': 'upper', 'label': '0.58256 - 1.04934'} */
[qrychiptoolden.tooldentot > 0.58256] [qrychiptoolden.tooldentot <= 1.04934] {
  mark: symbol(circle);
  mark-size: 14.5px;
}
[qrychiptoolden.tooldentot > 0.58256] [qrychiptoolden.tooldentot <= 1.04934] :mark {
  fill: #336699;
}

/* CLASSIFIER INFO {'upper': '1.75270', 'lower': '1.04935', 'equality': 'upper', 'label': '1.04935 - 1.75270'} */
[qrychiptoolden.tooldentot > 1.04935] [qrychiptoolden.tooldentot <= 1.75270] {
  mark: symbol(circle);
  mark-size: 18px;
}
[qrychiptoolden.tooldentot > 1.04935] [qrychiptoolden.tooldentot <= 1.75270] :mark {
  fill: #336699;
}

