/* LAYER NAME level40_medieval_ut_2_ad15th_to_mid_16th_cen */
* {
  fill: #d4cfc7;
  stroke: #d4cfc7;
  stroke-width: 1px;
}
/* CLASSIFIER INFO {'value': '0.5403', 'label': '0.54030'} */
[qryPottPerDen.MEDUII = "0.5403"] {
  mark: symbol(circle);
  mark-size: 6px;
}
[qryPottPerDen.MEDUII = "0.5403"] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '0.58358', 'lower': '0.5403', 'equality': 'upper', 'label': '0.54031 - 0.58358'} */
[qryPottPerDen.MEDUII > 0.5403] [qryPottPerDen.MEDUII <= 0.58358] {
  mark: symbol(circle);
  mark-size: 12px;
}
[qryPottPerDen.MEDUII > 0.5403] [qryPottPerDen.MEDUII <= 0.58358] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '0.7786', 'lower': '0.58358', 'equality': 'upper', 'label': '0.58359 - 0.77860'} */
[qryPottPerDen.MEDUII > 0.58358] [qryPottPerDen.MEDUII <= 0.7786] {
  mark: symbol(circle);
  mark-size: 18px;
}
[qryPottPerDen.MEDUII > 0.58358] [qryPottPerDen.MEDUII <= 0.7786] :mark {
  fill: #993266;
}

