/* LAYER NAME level26_early_roman_31bc_to_ad200 */
* {
  fill: #d4cfc7;
  stroke: #d4cfc7;
  stroke-width: 1px;
}
/* CLASSIFIER INFO {'upper': '0.62116', 'lower': '0.08346', 'equality': 'upper', 'label': '0.08346 - 0.62116'} */
[qryPottPerDen.ER > 0.08346] [qryPottPerDen.ER <= 0.62116] {
  mark: symbol(circle);
  mark-size: 6px;
}
[qryPottPerDen.ER > 0.08346] [qryPottPerDen.ER <= 0.62116] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '1.26111', 'lower': '0.62116', 'equality': 'upper', 'label': '0.62117 - 1.26111'} */
[qryPottPerDen.ER > 0.62116] [qryPottPerDen.ER <= 1.26111] {
  mark: symbol(circle);
  mark-size: 8px;
}
[qryPottPerDen.ER > 0.62116] [qryPottPerDen.ER <= 1.26111] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '2.94934', 'lower': '1.26111', 'equality': 'upper', 'label': '1.26112 - 2.94934'} */
[qryPottPerDen.ER > 1.26111] [qryPottPerDen.ER <= 2.94934] {
  mark: symbol(circle);
  mark-size: 11px;
}
[qryPottPerDen.ER > 1.26111] [qryPottPerDen.ER <= 2.94934] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '4.73792', 'lower': '2.94934', 'equality': 'upper', 'label': '2.94935 - 4.73792'} */
[qryPottPerDen.ER > 2.94934] [qryPottPerDen.ER <= 4.73792] {
  mark: symbol(circle);
  mark-size: 13px;
}
[qryPottPerDen.ER > 2.94934] [qryPottPerDen.ER <= 4.73792] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '9.68363', 'lower': '4.73792', 'equality': 'upper', 'label': '4.73793 - 9.68363'} */
[qryPottPerDen.ER > 4.73792] [qryPottPerDen.ER <= 9.68363] {
  mark: symbol(circle);
  mark-size: 16px;
}
[qryPottPerDen.ER > 4.73792] [qryPottPerDen.ER <= 9.68363] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '16.61723', 'lower': '9.68363', 'equality': 'upper', 'label': '9.68364 - 16.61723'} */
[qryPottPerDen.ER > 9.68363] [qryPottPerDen.ER <= 16.61723] {
  mark: symbol(circle);
  mark-size: 18px;
}
[qryPottPerDen.ER > 9.68363] [qryPottPerDen.ER <= 16.61723] :mark {
  fill: #993266;
}

