/* LAYER NAME level110_heavy_utility */
* {
  fill: #d4cfc7;
  stroke: #d4cfc7;
  stroke-width: 1px;
}
/* CLASSIFIER INFO {'upper': '2.19742727697674', 'lower': '7.87107193250049E-02', 'equality': 'upper', 'label': '0.078710719 - 2.19742728'} */
[qryhelromfunc.heavy_util > 7.87107193250049E-02] [qryhelromfunc.heavy_util <= 2.19742727697674] {
  mark: symbol(circle);
  mark-size: 6px;
}
[qryhelromfunc.heavy_util > 7.87107193250049E-02] [qryhelromfunc.heavy_util <= 2.19742727697674] :mark {
  fill: #996799;
}

/* CLASSIFIER INFO {'upper': '6.9968988567336', 'lower': '2.19742727697674', 'equality': 'upper', 'label': '2.19742729 - 6.99689886'} */
[qryhelromfunc.heavy_util > 2.19742727697674] [qryhelromfunc.heavy_util <= 6.9968988567336] {
  mark: symbol(circle);
  mark-size: 9px;
}
[qryhelromfunc.heavy_util > 2.19742727697674] [qryhelromfunc.heavy_util <= 6.9968988567336] :mark {
  fill: #996799;
}

/* CLASSIFIER INFO {'upper': '14.2274050365629', 'lower': '6.9968988567336', 'equality': 'upper', 'label': '6.99689887 - 14.2274050'} */
[qryhelromfunc.heavy_util > 6.9968988567336] [qryhelromfunc.heavy_util <= 14.2274050365629] {
  mark: symbol(circle);
  mark-size: 12px;
}
[qryhelromfunc.heavy_util > 6.9968988567336] [qryhelromfunc.heavy_util <= 14.2274050365629] :mark {
  fill: #996799;
}

/* CLASSIFIER INFO {'upper': '31.0774530617161', 'lower': '14.2274050365629', 'equality': 'upper', 'label': '14.2274051 - 31.0774531'} */
[qryhelromfunc.heavy_util > 14.2274050365629] [qryhelromfunc.heavy_util <= 31.0774530617161] {
  mark: symbol(circle);
  mark-size: 14px;
}
[qryhelromfunc.heavy_util > 14.2274050365629] [qryhelromfunc.heavy_util <= 31.0774530617161] :mark {
  fill: #996799;
}

/* CLASSIFIER INFO {'upper': '58.1603007301381', 'lower': '31.0774530617161', 'equality': 'upper', 'label': '31.0774532 - 58.1603007'} */
[qryhelromfunc.heavy_util > 31.0774530617161] [qryhelromfunc.heavy_util <= 58.1603007301381] {
  mark: symbol(circle);
  mark-size: 17px;
}
[qryhelromfunc.heavy_util > 31.0774530617161] [qryhelromfunc.heavy_util <= 58.1603007301381] :mark {
  fill: #996799;
}

/* CLASSIFIER INFO {'upper': '133.677410269539', 'lower': '58.1603007301381', 'equality': 'upper', 'label': '58.1603008 - 133.677410'} */
[qryhelromfunc.heavy_util > 58.1603007301381] [qryhelromfunc.heavy_util <= 133.677410269539] {
  mark: symbol(circle);
  mark-size: 20px;
}
[qryhelromfunc.heavy_util > 58.1603007301381] [qryhelromfunc.heavy_util <= 133.677410269539] :mark {
  fill: #996799;
}

