/* LAYER NAME level71_roman_31bc_to_ad650 */
/* CLASSIFIER INFO {'upper': '2.01037', 'lower': '0.03575', 'equality': 'upper', 'label': '0.03575 - 2.01037'} */
[qryPottPerDen.ROM > 0.03575] [qryPottPerDen.ROM <= 2.01037] {
  fill: #cc99cc;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '5.86306', 'lower': '2.01037', 'equality': 'upper', 'label': '2.01038 - 5.86306'} */
[qryPottPerDen.ROM > 2.01037] [qryPottPerDen.ROM <= 5.86306] {
  fill: #cc66cc;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '14.17489', 'lower': '5.86306', 'equality': 'upper', 'label': '5.86307 - 14.17489'} */
[qryPottPerDen.ROM > 5.86306] [qryPottPerDen.ROM <= 14.17489] {
  fill: #996799;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '30.26656', 'lower': '14.17489', 'equality': 'upper', 'label': '14.17490 - 30.26656'} */
[qryPottPerDen.ROM > 14.17489] [qryPottPerDen.ROM <= 30.26656] {
  fill: #993266;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '48.46064', 'lower': '30.26656', 'equality': 'upper', 'label': '30.26657 - 48.46064'} */
[qryPottPerDen.ROM > 30.26656] [qryPottPerDen.ROM <= 48.46064] {
  fill: #660000;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '132.93781', 'lower': '48.46064', 'equality': 'upper', 'label': '48.46065 - 132.93781'} */
[qryPottPerDen.ROM > 48.46064] [qryPottPerDen.ROM <= 132.93781] {
  fill: #330000;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '2.01037', 'lower': '0.03575', 'equality': 'upper', 'label': '0.03575 - 2.01037'} */
[qryPottPerDen.ROM > 0.03575] [qryPottPerDen.ROM <= 2.01037] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '5.86306', 'lower': '2.01037', 'equality': 'upper', 'label': '2.01038 - 5.86306'} */
[qryPottPerDen.ROM > 2.01037] [qryPottPerDen.ROM <= 5.86306] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '14.17489', 'lower': '5.86306', 'equality': 'upper', 'label': '5.86307 - 14.17489'} */
[qryPottPerDen.ROM > 5.86306] [qryPottPerDen.ROM <= 14.17489] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '30.26656', 'lower': '14.17489', 'equality': 'upper', 'label': '14.17490 - 30.26656'} */
[qryPottPerDen.ROM > 14.17489] [qryPottPerDen.ROM <= 30.26656] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '48.46064', 'lower': '30.26656', 'equality': 'upper', 'label': '30.26657 - 48.46064'} */
[qryPottPerDen.ROM > 30.26656] [qryPottPerDen.ROM <= 48.46064] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '132.93781', 'lower': '48.46064', 'equality': 'upper', 'label': '48.46065 - 132.93781'} */
[qryPottPerDen.ROM > 48.46064] [qryPottPerDen.ROM <= 132.93781] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

