/* LAYER NAME level247_medieval_to_ottoman */
/* CLASSIFIER INFO {'label': '<all other values>'} */
* {
  mark: symbol(circle);
  mark-size: 8px;
}
* :mark {
  fill: #a81900;
}

/* CLASSIFIER INFO {'value': '1', 'label': '1'} */
[tblposirec.mochk = "1"] {
  mark: symbol(circle);
  mark-size: 8px;
}
[tblposirec.mochk = "1"] :mark {
  fill: #ff0000;
}

