/* LAYER NAME level91_unknown */
/* CLASSIFIER INFO {'upper': '0.34647', 'lower': '0.07876', 'equality': 'upper', 'label': '0.07876 - 0.34647'} */
[qrypottperden.un > 0.07876] [qrypottperden.un <= 0.34647] {
  fill: #cc99cc;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '0.67368', 'lower': '0.34647', 'equality': 'upper', 'label': '0.34648 - 0.67368'} */
[qrypottperden.un > 0.34647] [qrypottperden.un <= 0.67368] {
  fill: #cc66cc;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '1.37245', 'lower': '0.67368', 'equality': 'upper', 'label': '0.67369 - 1.37245'} */
[qrypottperden.un > 0.67368] [qrypottperden.un <= 1.37245] {
  fill: #996799;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '2.7558', 'lower': '1.37245', 'equality': 'upper', 'label': '1.37246 - 2.75580'} */
[qrypottperden.un > 1.37245] [qrypottperden.un <= 2.7558] {
  fill: #993266;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '5.55804', 'lower': '2.7558', 'equality': 'upper', 'label': '2.75581 - 5.55804'} */
[qrypottperden.un > 2.7558] [qrypottperden.un <= 5.55804] {
  fill: #660000;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '21.02035', 'lower': '5.55804', 'equality': 'upper', 'label': '5.55805 - 21.02035'} */
[qrypottperden.un > 5.55804] [qrypottperden.un <= 21.02035] {
  fill: #330000;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '0.34647', 'lower': '0.07876', 'equality': 'upper', 'label': '0.07876 - 0.34647'} */
[qrypottperden.un > 0.07876] [qrypottperden.un <= 0.34647] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '0.67368', 'lower': '0.34647', 'equality': 'upper', 'label': '0.34648 - 0.67368'} */
[qrypottperden.un > 0.34647] [qrypottperden.un <= 0.67368] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '1.37245', 'lower': '0.67368', 'equality': 'upper', 'label': '0.67369 - 1.37245'} */
[qrypottperden.un > 0.67368] [qrypottperden.un <= 1.37245] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '2.7558', 'lower': '1.37245', 'equality': 'upper', 'label': '1.37246 - 2.75580'} */
[qrypottperden.un > 1.37245] [qrypottperden.un <= 2.7558] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '5.55804', 'lower': '2.7558', 'equality': 'upper', 'label': '2.75581 - 5.55804'} */
[qrypottperden.un > 2.7558] [qrypottperden.un <= 5.55804] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '21.02035', 'lower': '5.55804', 'equality': 'upper', 'label': '5.55805 - 21.02035'} */
[qrypottperden.un > 5.55804] [qrypottperden.un <= 21.02035] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

