/* LAYER NAME level202_non_dhoukani */
/* CLASSIFIER INFO {'upper': '0.25926', 'lower': '0.03121', 'equality': 'upper', 'label': '0.03121 - 0.25926'} */
[qrychipdhoden.notdho > 0.03121] [qrychipdhoden.notdho <= 0.25926] {
  mark: symbol(circle);
  mark-size: 4px;
}
[qrychipdhoden.notdho > 0.03121] [qrychipdhoden.notdho <= 0.25926] :mark {
  fill: #0089ab;
}

/* CLASSIFIER INFO {'upper': '0.63568', 'lower': '0.25926', 'equality': 'upper', 'label': '0.25927 - 0.63568'} */
[qrychipdhoden.notdho > 0.25926] [qrychipdhoden.notdho <= 0.63568] {
  mark: symbol(circle);
  mark-size: 8px;
}
[qrychipdhoden.notdho > 0.25926] [qrychipdhoden.notdho <= 0.63568] :mark {
  fill: #0089ab;
}

/* CLASSIFIER INFO {'upper': '1.1933', 'lower': '0.63568', 'equality': 'upper', 'label': '0.63569 - 1.19330'} */
[qrychipdhoden.notdho > 0.63568] [qrychipdhoden.notdho <= 1.1933] {
  mark: symbol(circle);
  mark-size: 11px;
}
[qrychipdhoden.notdho > 0.63568] [qrychipdhoden.notdho <= 1.1933] :mark {
  fill: #0089ab;
}

/* CLASSIFIER INFO {'upper': '2.00557', 'lower': '1.1933', 'equality': 'upper', 'label': '1.19331 - 2.00557'} */
[qrychipdhoden.notdho > 1.1933] [qrychipdhoden.notdho <= 2.00557] {
  mark: symbol(circle);
  mark-size: 14px;
}
[qrychipdhoden.notdho > 1.1933] [qrychipdhoden.notdho <= 2.00557] :mark {
  fill: #0089ab;
}

/* CLASSIFIER INFO {'upper': '4.79364', 'lower': '2.00557', 'equality': 'upper', 'label': '2.00558 - 4.79364'} */
[qrychipdhoden.notdho > 2.00557] [qrychipdhoden.notdho <= 4.79364] {
  mark: symbol(circle);
  mark-size: 18px;
}
[qrychipdhoden.notdho > 2.00557] [qrychipdhoden.notdho <= 4.79364] :mark {
  fill: #0089ab;
}

