/* LAYER NAME level124_unknown */
* {
  fill: #d4cfc7;
  stroke: #d4cfc7;
  stroke-width: 1px;
}
/* CLASSIFIER INFO {'upper': '0.15703', 'lower': '0.07064', 'equality': 'upper', 'label': '0.07064 - 0.15703'} */
[qryPotFctDen.UN > 0.07064] [qryPotFctDen.UN <= 0.15703] {
  mark: symbol(circle);
  mark-size: 6px;
}
[qryPotFctDen.UN > 0.07064] [qryPotFctDen.UN <= 0.15703] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '0.45093', 'lower': '0.15703', 'equality': 'upper', 'label': '0.15704 - 0.45093'} */
[qryPotFctDen.UN > 0.15703] [qryPotFctDen.UN <= 0.45093] {
  mark: symbol(circle);
  mark-size: 8px;
}
[qryPotFctDen.UN > 0.15703] [qryPotFctDen.UN <= 0.45093] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '0.83685', 'lower': '0.45093', 'equality': 'upper', 'label': '0.45094 - 0.83685'} */
[qryPotFctDen.UN > 0.45093] [qryPotFctDen.UN <= 0.83685] {
  mark: symbol(circle);
  mark-size: 11px;
}
[qryPotFctDen.UN > 0.45093] [qryPotFctDen.UN <= 0.83685] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '1.37245', 'lower': '0.83685', 'equality': 'upper', 'label': '0.83686 - 1.37245'} */
[qryPotFctDen.UN > 0.83685] [qryPotFctDen.UN <= 1.37245] {
  mark: symbol(circle);
  mark-size: 13px;
}
[qryPotFctDen.UN > 0.83685] [qryPotFctDen.UN <= 1.37245] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '2.36896', 'lower': '1.37245', 'equality': 'upper', 'label': '1.37246 - 2.36896'} */
[qryPotFctDen.UN > 1.37245] [qryPotFctDen.UN <= 2.36896] {
  mark: symbol(circle);
  mark-size: 16px;
}
[qryPotFctDen.UN > 1.37245] [qryPotFctDen.UN <= 2.36896] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '5.55804', 'lower': '2.36896', 'equality': 'upper', 'label': '2.36897 - 5.55804'} */
[qryPotFctDen.UN > 2.36896] [qryPotFctDen.UN <= 5.55804] {
  mark: symbol(circle);
  mark-size: 18px;
}
[qryPotFctDen.UN > 2.36896] [qryPotFctDen.UN <= 5.55804] :mark {
  fill: #993266;
}

