/* LAYER NAME level43_ott_to_mod_1_ad1571_to_begin_20th_cen */
* {
  fill: #d4cfc7;
  stroke: #d4cfc7;
  stroke-width: 1px;
}
/* CLASSIFIER INFO {'upper': '0.35795', 'lower': '0.04167', 'equality': 'upper', 'label': '0.04167 - 0.35795'} */
[qrypottperden.ottmodi > 0.04167] [qrypottperden.ottmodi <= 0.35795] {
  mark: symbol(circle);
  mark-size: 6px;
}
[qrypottperden.ottmodi > 0.04167] [qrypottperden.ottmodi <= 0.35795] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '0.71994', 'lower': '0.35795', 'equality': 'upper', 'label': '0.35796 - 0.71994'} */
[qrypottperden.ottmodi > 0.35795] [qrypottperden.ottmodi <= 0.71994] {
  mark: symbol(circle);
  mark-size: 8px;
}
[qrypottperden.ottmodi > 0.35795] [qrypottperden.ottmodi <= 0.71994] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '1.23991', 'lower': '0.71994', 'equality': 'upper', 'label': '0.71995 - 1.23991'} */
[qrypottperden.ottmodi > 0.71994] [qrypottperden.ottmodi <= 1.23991] {
  mark: symbol(circle);
  mark-size: 11px;
}
[qrypottperden.ottmodi > 0.71994] [qrypottperden.ottmodi <= 1.23991] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '2.44574', 'lower': '1.23991', 'equality': 'upper', 'label': '1.23992 - 2.44574'} */
[qrypottperden.ottmodi > 1.23991] [qrypottperden.ottmodi <= 2.44574] {
  mark: symbol(circle);
  mark-size: 13px;
}
[qrypottperden.ottmodi > 1.23991] [qrypottperden.ottmodi <= 2.44574] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '4.79108', 'lower': '2.44574', 'equality': 'upper', 'label': '2.44575 - 4.79108'} */
[qrypottperden.ottmodi > 2.44574] [qrypottperden.ottmodi <= 4.79108] {
  mark: symbol(circle);
  mark-size: 16px;
}
[qrypottperden.ottmodi > 2.44574] [qrypottperden.ottmodi <= 4.79108] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '8.06335', 'lower': '4.79108', 'equality': 'upper', 'label': '4.79109 - 8.06335'} */
[qrypottperden.ottmodi > 4.79108] [qrypottperden.ottmodi <= 8.06335] {
  mark: symbol(circle);
  mark-size: 18px;
}
[qrypottperden.ottmodi > 4.79108] [qrypottperden.ottmodi <= 8.06335] :mark {
  fill: #993266;
}

