/* LAYER NAME level137_blank_fill */
/* CLASSIFIER INFO {'upper': '0.13586', 'lower': '0.03262', 'equality': 'upper', 'label': '0.03262 - 0.13586'} */
[qryChipCoBlDeDen.BL > 0.03262] [qryChipCoBlDeDen.BL <= 0.13586] {
  fill: #99cccc;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '0.29341', 'lower': '0.13586', 'equality': 'upper', 'label': '0.13587 - 0.29341'} */
[qryChipCoBlDeDen.BL > 0.13586] [qryChipCoBlDeDen.BL <= 0.29341] {
  fill: #66cccc;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '0.5091', 'lower': '0.29341', 'equality': 'upper', 'label': '0.29342 - 0.50910'} */
[qryChipCoBlDeDen.BL > 0.29341] [qryChipCoBlDeDen.BL <= 0.5091] {
  fill: #669999;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '0.85935', 'lower': '0.5091', 'equality': 'upper', 'label': '0.50911 - 0.85935'} */
[qryChipCoBlDeDen.BL > 0.5091] [qryChipCoBlDeDen.BL <= 0.85935] {
  fill: #336699;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '1.42362', 'lower': '0.85935', 'equality': 'upper', 'label': '0.85936 - 1.42362'} */
[qryChipCoBlDeDen.BL > 0.85935] [qryChipCoBlDeDen.BL <= 1.42362] {
  fill: #000066;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '3.50544', 'lower': '1.42362', 'equality': 'upper', 'label': '1.42363 - 3.50544'} */
[qryChipCoBlDeDen.BL > 1.42362] [qryChipCoBlDeDen.BL <= 3.50544] {
  fill: #000033;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '0.13586', 'lower': '0.03262', 'equality': 'upper', 'label': '0.03262 - 0.13586'} */
[qryChipCoBlDeDen.BL > 0.03262] [qryChipCoBlDeDen.BL <= 0.13586] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '0.29341', 'lower': '0.13586', 'equality': 'upper', 'label': '0.13587 - 0.29341'} */
[qryChipCoBlDeDen.BL > 0.13586] [qryChipCoBlDeDen.BL <= 0.29341] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '0.5091', 'lower': '0.29341', 'equality': 'upper', 'label': '0.29342 - 0.50910'} */
[qryChipCoBlDeDen.BL > 0.29341] [qryChipCoBlDeDen.BL <= 0.5091] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '0.85935', 'lower': '0.5091', 'equality': 'upper', 'label': '0.50911 - 0.85935'} */
[qryChipCoBlDeDen.BL > 0.5091] [qryChipCoBlDeDen.BL <= 0.85935] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '1.42362', 'lower': '0.85935', 'equality': 'upper', 'label': '0.85936 - 1.42362'} */
[qryChipCoBlDeDen.BL > 0.85935] [qryChipCoBlDeDen.BL <= 1.42362] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '3.50544', 'lower': '1.42362', 'equality': 'upper', 'label': '1.42363 - 3.50544'} */
[qryChipCoBlDeDen.BL > 1.42362] [qryChipCoBlDeDen.BL <= 3.50544] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

