/* LAYER NAME level149_harzburgite */
* {
  fill: #d4cfc7;
  stroke: #d4cfc7;
  stroke-width: 1px;
}
/* CLASSIFIER INFO {'value': '0.05471', 'label': '0.05471'} */
[qryLithMatDen.HAR = "0.05471"] {
  mark: symbol(circle);
  mark-size: 6px;
}
[qryLithMatDen.HAR = "0.05471"] :mark {
  fill: #336699;
}

/* CLASSIFIER INFO {'upper': '0.28185', 'lower': '0.05471', 'equality': 'upper', 'label': '0.05472 - 0.28185'} */
[qryLithMatDen.HAR > 0.05471] [qryLithMatDen.HAR <= 0.28185] {
  mark: symbol(circle);
  mark-size: 18px;
}
[qryLithMatDen.HAR > 0.05471] [qryLithMatDen.HAR <= 0.28185] :mark {
  fill: #336699;
}

