/* LAYER NAME level80_medieval_to_ottoman_ad1191_to_1878 */
/* CLASSIFIER INFO {'value': '0.17496', 'label': '0.17496'} */
[qryPottPerDen.MEDOTT = "0.17496"] {
  fill: #cc99cc;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '0.35679', 'lower': '0.17496', 'equality': 'upper', 'label': '0.17497 - 0.35679'} */
[qryPottPerDen.MEDOTT > 0.17496] [qryPottPerDen.MEDOTT <= 0.35679] {
  fill: #cc66cc;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '0.63226', 'lower': '0.35679', 'equality': 'upper', 'label': '0.35680 - 0.63226'} */
[qryPottPerDen.MEDOTT > 0.35679] [qryPottPerDen.MEDOTT <= 0.63226] {
  fill: #996799;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '1.01489', 'lower': '0.63226', 'equality': 'upper', 'label': '0.63227 - 1.01489'} */
[qryPottPerDen.MEDOTT > 0.63226] [qryPottPerDen.MEDOTT <= 1.01489] {
  fill: #993266;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '1.86908', 'lower': '1.01489', 'equality': 'upper', 'label': '1.01490 - 1.86908'} */
[qryPottPerDen.MEDOTT > 1.01489] [qryPottPerDen.MEDOTT <= 1.86908] {
  fill: #660000;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '5.1998', 'lower': '1.86908', 'equality': 'upper', 'label': '1.86909 - 5.19980'} */
[qryPottPerDen.MEDOTT > 1.86908] [qryPottPerDen.MEDOTT <= 5.1998] {
  fill: #330000;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'value': '0.17496', 'label': '0.17496'} */
[qryPottPerDen.MEDOTT = "0.17496"] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '0.35679', 'lower': '0.17496', 'equality': 'upper', 'label': '0.17497 - 0.35679'} */
[qryPottPerDen.MEDOTT > 0.17496] [qryPottPerDen.MEDOTT <= 0.35679] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '0.63226', 'lower': '0.35679', 'equality': 'upper', 'label': '0.35680 - 0.63226'} */
[qryPottPerDen.MEDOTT > 0.35679] [qryPottPerDen.MEDOTT <= 0.63226] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '1.01489', 'lower': '0.63226', 'equality': 'upper', 'label': '0.63227 - 1.01489'} */
[qryPottPerDen.MEDOTT > 0.63226] [qryPottPerDen.MEDOTT <= 1.01489] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '1.86908', 'lower': '1.01489', 'equality': 'upper', 'label': '1.01490 - 1.86908'} */
[qryPottPerDen.MEDOTT > 1.01489] [qryPottPerDen.MEDOTT <= 1.86908] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '5.1998', 'lower': '1.86908', 'equality': 'upper', 'label': '1.86909 - 5.19980'} */
[qryPottPerDen.MEDOTT > 1.86908] [qryPottPerDen.MEDOTT <= 5.1998] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

