/* LAYER NAME level160_picrolite */
* {
  fill: #d4cfc7;
  stroke: #d4cfc7;
  stroke-width: 1px;
}
/* CLASSIFIER INFO {'value': '0.09216', 'label': '0.09216'} */
[qryLithMatDen.PIC = "0.09216"] {
  mark: symbol(circle);
  mark-size: 13px;
}
[qryLithMatDen.PIC = "0.09216"] :mark {
  fill: #336699;
}

