/* LAYER NAME level73_late_roman_ad400_to_650 */
/* CLASSIFIER INFO {'upper': '1.38241', 'lower': '0.05038', 'equality': 'upper', 'label': '0.05038 - 1.38241'} */
[qrypottperden.lr > 0.05038] [qrypottperden.lr <= 1.38241] {
  fill: #cc99cc;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '3.73816', 'lower': '1.38241', 'equality': 'upper', 'label': '1.38242 - 3.73816'} */
[qrypottperden.lr > 1.38241] [qrypottperden.lr <= 3.73816] {
  fill: #cc66cc;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '8.76136', 'lower': '3.73816', 'equality': 'upper', 'label': '3.73817 - 8.76136'} */
[qrypottperden.lr > 3.73816] [qrypottperden.lr <= 8.76136] {
  fill: #996799;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '14.22737', 'lower': '8.76136', 'equality': 'upper', 'label': '8.76137 - 14.22737'} */
[qrypottperden.lr > 8.76136] [qrypottperden.lr <= 14.22737] {
  fill: #993266;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '22.3055', 'lower': '14.22737', 'equality': 'upper', 'label': '14.22738 - 22.30550'} */
[qrypottperden.lr > 14.22737] [qrypottperden.lr <= 22.3055] {
  fill: #660000;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '99.70336', 'lower': '22.3055', 'equality': 'upper', 'label': '22.30551 - 99.70336'} */
[qrypottperden.lr > 22.3055] [qrypottperden.lr <= 99.70336] {
  fill: #330000;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '1.38241', 'lower': '0.05038', 'equality': 'upper', 'label': '0.05038 - 1.38241'} */
[qrypottperden.lr > 0.05038] [qrypottperden.lr <= 1.38241] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '3.73816', 'lower': '1.38241', 'equality': 'upper', 'label': '1.38242 - 3.73816'} */
[qrypottperden.lr > 1.38241] [qrypottperden.lr <= 3.73816] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '8.76136', 'lower': '3.73816', 'equality': 'upper', 'label': '3.73817 - 8.76136'} */
[qrypottperden.lr > 3.73816] [qrypottperden.lr <= 8.76136] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '14.22737', 'lower': '8.76136', 'equality': 'upper', 'label': '8.76137 - 14.22737'} */
[qrypottperden.lr > 8.76136] [qrypottperden.lr <= 14.22737] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '22.3055', 'lower': '14.22737', 'equality': 'upper', 'label': '14.22738 - 22.30550'} */
[qrypottperden.lr > 14.22737] [qrypottperden.lr <= 22.3055] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '99.70336', 'lower': '22.3055', 'equality': 'upper', 'label': '22.30551 - 99.70336'} */
[qrypottperden.lr > 22.3055] [qrypottperden.lr <= 99.70336] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

