/* LAYER NAME level92_tableware */
* {
  fill: #d4cfc7;
  stroke: #d4cfc7;
  stroke-width: 1px;
}
/* CLASSIFIER INFO {'upper': '0.40254', 'lower': '0.05382', 'equality': 'upper', 'label': '0.05382 - 0.40254'} */
[qryPottFctHellDen.TW > 0.05382] [qryPottFctHellDen.TW <= 0.40254] {
  mark: symbol(circle);
  mark-size: 4px;
}
[qryPottFctHellDen.TW > 0.05382] [qryPottFctHellDen.TW <= 0.40254] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '0.7297', 'lower': '0.40254', 'equality': 'upper', 'label': '0.40255 - 0.72970'} */
[qryPottFctHellDen.TW > 0.40254] [qryPottFctHellDen.TW <= 0.7297] {
  mark: symbol(circle);
  mark-size: 7px;
}
[qryPottFctHellDen.TW > 0.40254] [qryPottFctHellDen.TW <= 0.7297] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '1.19736', 'lower': '0.7297', 'equality': 'upper', 'label': '0.72971 - 1.19736'} */
[qryPottFctHellDen.TW > 0.7297] [qryPottFctHellDen.TW <= 1.19736] {
  mark: symbol(circle);
  mark-size: 10px;
}
[qryPottFctHellDen.TW > 0.7297] [qryPottFctHellDen.TW <= 1.19736] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '2.25969', 'lower': '1.19736', 'equality': 'upper', 'label': '1.19737 - 2.25969'} */
[qryPottFctHellDen.TW > 1.19736] [qryPottFctHellDen.TW <= 2.25969] {
  mark: symbol(circle);
  mark-size: 12px;
}
[qryPottFctHellDen.TW > 1.19736] [qryPottFctHellDen.TW <= 2.25969] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '3.57861', 'lower': '2.25969', 'equality': 'upper', 'label': '2.25970 - 3.57861'} */
[qryPottFctHellDen.TW > 2.25969] [qryPottFctHellDen.TW <= 3.57861] {
  mark: symbol(circle);
  mark-size: 15px;
}
[qryPottFctHellDen.TW > 2.25969] [qryPottFctHellDen.TW <= 3.57861] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '14.21375', 'lower': '3.57861', 'equality': 'upper', 'label': '3.57862 - 14.21375'} */
[qryPottFctHellDen.TW > 3.57861] [qryPottFctHellDen.TW <= 14.21375] {
  mark: symbol(circle);
  mark-size: 18px;
}
[qryPottFctHellDen.TW > 3.57861] [qryPottFctHellDen.TW <= 14.21375] :mark {
  fill: #993266;
}

