/* LAYER NAME level5_all_iron_age */
* {
  fill: #d4cfc7;
  stroke: #d4cfc7;
  stroke-width: 1px;
}
/* CLASSIFIER INFO {'upper': '0.33856', 'lower': '0.03179', 'equality': 'upper', 'label': '0.03179 - 0.33856'} */
[qryPottPerGroupDen.IRON_AGE > 0.03179] [qryPottPerGroupDen.IRON_AGE <= 0.33856] {
  mark: symbol(circle);
  mark-size: 6px;
}
[qryPottPerGroupDen.IRON_AGE > 0.03179] [qryPottPerGroupDen.IRON_AGE <= 0.33856] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '0.71837', 'lower': '0.33856', 'equality': 'upper', 'label': '0.33857 - 0.71837'} */
[qryPottPerGroupDen.IRON_AGE > 0.33856] [qryPottPerGroupDen.IRON_AGE <= 0.71837] {
  mark: symbol(circle);
  mark-size: 8px;
}
[qryPottPerGroupDen.IRON_AGE > 0.33856] [qryPottPerGroupDen.IRON_AGE <= 0.71837] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '1.32873', 'lower': '0.71837', 'equality': 'upper', 'label': '0.71838 - 1.32873'} */
[qryPottPerGroupDen.IRON_AGE > 0.71837] [qryPottPerGroupDen.IRON_AGE <= 1.32873] {
  mark: symbol(circle);
  mark-size: 11px;
}
[qryPottPerGroupDen.IRON_AGE > 0.71837] [qryPottPerGroupDen.IRON_AGE <= 1.32873] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '2.36692', 'lower': '1.32873', 'equality': 'upper', 'label': '1.32874 - 2.36692'} */
[qryPottPerGroupDen.IRON_AGE > 1.32873] [qryPottPerGroupDen.IRON_AGE <= 2.36692] {
  mark: symbol(circle);
  mark-size: 13px;
}
[qryPottPerGroupDen.IRON_AGE > 1.32873] [qryPottPerGroupDen.IRON_AGE <= 2.36692] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '3.95447', 'lower': '2.36692', 'equality': 'upper', 'label': '2.36693 - 3.95447'} */
[qryPottPerGroupDen.IRON_AGE > 2.36692] [qryPottPerGroupDen.IRON_AGE <= 3.95447] {
  mark: symbol(circle);
  mark-size: 16px;
}
[qryPottPerGroupDen.IRON_AGE > 2.36692] [qryPottPerGroupDen.IRON_AGE <= 3.95447] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '6.99674', 'lower': '3.95447', 'equality': 'upper', 'label': '3.95448 - 6.99674'} */
[qryPottPerGroupDen.IRON_AGE > 3.95447] [qryPottPerGroupDen.IRON_AGE <= 6.99674] {
  mark: symbol(circle);
  mark-size: 18px;
}
[qryPottPerGroupDen.IRON_AGE > 3.95447] [qryPottPerGroupDen.IRON_AGE <= 6.99674] :mark {
  fill: #993266;
}

