/* LAYER NAME level42_ottoman_ad1571_to_1878 */
* {
  fill: #d4cfc7;
  stroke: #d4cfc7;
  stroke-width: 1px;
}
/* CLASSIFIER INFO {'upper': '0.23204', 'lower': '0.06174', 'equality': 'upper', 'label': '0.06174 - 0.23204'} */
[qryPottPerDen.OTT > 0.06174] [qryPottPerDen.OTT <= 0.23204] {
  mark: symbol(circle);
  mark-size: 6px;
}
[qryPottPerDen.OTT > 0.06174] [qryPottPerDen.OTT <= 0.23204] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '0.37288', 'lower': '0.23204', 'equality': 'upper', 'label': '0.23205 - 0.37288'} */
[qryPottPerDen.OTT > 0.23204] [qryPottPerDen.OTT <= 0.37288] {
  mark: symbol(circle);
  mark-size: 8px;
}
[qryPottPerDen.OTT > 0.23204] [qryPottPerDen.OTT <= 0.37288] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '0.59885', 'lower': '0.37288', 'equality': 'upper', 'label': '0.37289 - 0.59885'} */
[qryPottPerDen.OTT > 0.37288] [qryPottPerDen.OTT <= 0.59885] {
  mark: symbol(circle);
  mark-size: 11px;
}
[qryPottPerDen.OTT > 0.37288] [qryPottPerDen.OTT <= 0.59885] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '0.8711', 'lower': '0.59885', 'equality': 'upper', 'label': '0.59886 - 0.87110'} */
[qryPottPerDen.OTT > 0.59885] [qryPottPerDen.OTT <= 0.8711] {
  mark: symbol(circle);
  mark-size: 13px;
}
[qryPottPerDen.OTT > 0.59885] [qryPottPerDen.OTT <= 0.8711] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '1.30825', 'lower': '0.8711', 'equality': 'upper', 'label': '0.87111 - 1.30825'} */
[qryPottPerDen.OTT > 0.8711] [qryPottPerDen.OTT <= 1.30825] {
  mark: symbol(circle);
  mark-size: 16px;
}
[qryPottPerDen.OTT > 0.8711] [qryPottPerDen.OTT <= 1.30825] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '3.68051', 'lower': '1.30825', 'equality': 'upper', 'label': '1.30826 - 3.68051'} */
[qryPottPerDen.OTT > 1.30825] [qryPottPerDen.OTT <= 3.68051] {
  mark: symbol(circle);
  mark-size: 18px;
}
[qryPottPerDen.OTT > 1.30825] [qryPottPerDen.OTT <= 3.68051] :mark {
  fill: #993266;
}

