/* LAYER NAME level66_late_hellenistic_150_to_31bc */
/* CLASSIFIER INFO {'value': '0.13172', 'label': '0.13172'} */
[qrypottperden.lh = "0.13172"] {
  fill: #cc99cc;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '0.27869', 'lower': '0.13172', 'equality': 'upper', 'label': '0.13173 - 0.27869'} */
[qrypottperden.lh > 0.13172] [qrypottperden.lh <= 0.27869] {
  fill: #cc66cc;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '0.44732', 'lower': '0.27869', 'equality': 'upper', 'label': '0.27870 - 0.44732'} */
[qrypottperden.lh > 0.27869] [qrypottperden.lh <= 0.44732] {
  fill: #996799;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '0.65467', 'lower': '0.44732', 'equality': 'upper', 'label': '0.44733 - 0.65467'} */
[qrypottperden.lh > 0.44732] [qrypottperden.lh <= 0.65467] {
  fill: #993266;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '0.91456', 'lower': '0.65467', 'equality': 'upper', 'label': '0.65468 - 0.91456'} */
[qrypottperden.lh > 0.65467] [qrypottperden.lh <= 0.91456] {
  fill: #660000;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '1.7105', 'lower': '0.91456', 'equality': 'upper', 'label': '0.91457 - 1.71050'} */
[qrypottperden.lh > 0.91456] [qrypottperden.lh <= 1.7105] {
  fill: #330000;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'value': '0.13172', 'label': '0.13172'} */
[qrypottperden.lh = "0.13172"] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '0.27869', 'lower': '0.13172', 'equality': 'upper', 'label': '0.13173 - 0.27869'} */
[qrypottperden.lh > 0.13172] [qrypottperden.lh <= 0.27869] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '0.44732', 'lower': '0.27869', 'equality': 'upper', 'label': '0.27870 - 0.44732'} */
[qrypottperden.lh > 0.27869] [qrypottperden.lh <= 0.44732] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '0.65467', 'lower': '0.44732', 'equality': 'upper', 'label': '0.44733 - 0.65467'} */
[qrypottperden.lh > 0.44732] [qrypottperden.lh <= 0.65467] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '0.91456', 'lower': '0.65467', 'equality': 'upper', 'label': '0.65468 - 0.91456'} */
[qrypottperden.lh > 0.65467] [qrypottperden.lh <= 0.91456] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '1.7105', 'lower': '0.91456', 'equality': 'upper', 'label': '0.91457 - 1.71050'} */
[qrypottperden.lh > 0.91456] [qrypottperden.lh <= 1.7105] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

