/* LAYER NAME level107_heavy_utility */
* {
  fill: #d4cfc7;
  stroke: #d4cfc7;
  stroke-width: 1px;
}
/* CLASSIFIER INFO {'upper': '2.19742', 'lower': '0.07871', 'equality': 'upper', 'label': '0.07871 - 2.19742'} */
[qryPottFctHelRomDen.HU > 0.07871] [qryPottFctHelRomDen.HU <= 2.19742] {
  mark: symbol(circle);
  mark-size: 6px;
}
[qryPottFctHelRomDen.HU > 0.07871] [qryPottFctHelRomDen.HU <= 2.19742] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '6.99674', 'lower': '2.19742', 'equality': 'upper', 'label': '2.19743 - 6.99674'} */
[qryPottFctHelRomDen.HU > 2.19742] [qryPottFctHelRomDen.HU <= 6.99674] {
  mark: symbol(circle);
  mark-size: 8px;
}
[qryPottFctHelRomDen.HU > 2.19742] [qryPottFctHelRomDen.HU <= 6.99674] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '14.22737', 'lower': '6.99674', 'equality': 'upper', 'label': '6.99675 - 14.22737'} */
[qryPottFctHelRomDen.HU > 6.99674] [qryPottFctHelRomDen.HU <= 14.22737] {
  mark: symbol(circle);
  mark-size: 11px;
}
[qryPottFctHelRomDen.HU > 6.99674] [qryPottFctHelRomDen.HU <= 14.22737] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '31.07745', 'lower': '14.22737', 'equality': 'upper', 'label': '14.22738 - 31.07745'} */
[qryPottFctHelRomDen.HU > 14.22737] [qryPottFctHelRomDen.HU <= 31.07745] {
  mark: symbol(circle);
  mark-size: 13px;
}
[qryPottFctHelRomDen.HU > 14.22737] [qryPottFctHelRomDen.HU <= 31.07745] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '58.16029', 'lower': '31.07745', 'equality': 'upper', 'label': '31.07746 - 58.16029'} */
[qryPottFctHelRomDen.HU > 31.07745] [qryPottFctHelRomDen.HU <= 58.16029] {
  mark: symbol(circle);
  mark-size: 16px;
}
[qryPottFctHelRomDen.HU > 31.07745] [qryPottFctHelRomDen.HU <= 58.16029] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '133.67733', 'lower': '58.16029', 'equality': 'upper', 'label': '58.16030 - 133.67733'} */
[qryPottFctHelRomDen.HU > 58.16029] [qryPottFctHelRomDen.HU <= 133.67733] {
  mark: symbol(circle);
  mark-size: 18px;
}
[qryPottFctHelRomDen.HU > 58.16029] [qryPottFctHelRomDen.HU <= 133.67733] :mark {
  fill: #993266;
}

