/* LAYER NAME level220_erosion */
/* CLASSIFIER INFO {'value': 'Sheet', 'label': 'Sheet'} */
[tblguf.eros = "Sheet"] {
  fill: #006600;
  stroke: #d4d0c8;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'value': 'Non', 'label': 'Non'} */
[tblguf.eros = "Non"] {
  fill: #00c800;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'value': 'Cons', 'label': 'Cons'} */
[tblguf.eros = "Cons"] {
  fill: #cccc99;
  stroke: #d4d0c8;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'value': 'Push', 'label': 'Push'} */
[tblguf.eros = "Push"] {
  fill: #cccc66;
  stroke: #d4d0c8;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'value': 'Mix', 'label': 'Mix'} */
[tblguf.eros = "Mix"] {
  fill: #999967;
  stroke: #d4d0c8;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'value': 'Incise', 'label': 'Incise'} */
[tblguf.eros = "Incise"] {
  fill: #669932;
  stroke: #d4d0c8;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'value': 'Sheet', 'label': 'Sheet'} */
[tblguf.eros = "Sheet"] {
  stroke: #d4d0c8;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'value': 'Till', 'label': 'Till'} */
[tblguf.eros = "Till"] {
  fill: #003300;
  stroke: #d4d0c8;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'value': 'Non', 'label': 'Non'} */
[tblguf.eros = "Non"] {
  stroke: #d4d0c8;
  stroke-width: 1px;
  stroke-linecap: round;
}

