/* LAYER NAME level21_hellenistic_312_to_31bc */
* {
  fill: #d4cfc7;
  stroke: #d4cfc7;
  stroke-width: 1px;
}
/* CLASSIFIER INFO {'upper': '0.40254', 'lower': '0.05382', 'equality': 'upper', 'label': '0.05382 - 0.40254'} */
[qryPottPerDen.HEL > 0.05382] [qryPottPerDen.HEL <= 0.40254] {
  mark: symbol(circle);
  mark-size: 6px;
}
[qryPottPerDen.HEL > 0.05382] [qryPottPerDen.HEL <= 0.40254] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '0.78897', 'lower': '0.40254', 'equality': 'upper', 'label': '0.40255 - 0.78897'} */
[qryPottPerDen.HEL > 0.40254] [qryPottPerDen.HEL <= 0.78897] {
  mark: symbol(circle);
  mark-size: 8px;
}
[qryPottPerDen.HEL > 0.40254] [qryPottPerDen.HEL <= 0.78897] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '1.21284', 'lower': '0.78897', 'equality': 'upper', 'label': '0.78898 - 1.21284'} */
[qryPottPerDen.HEL > 0.78897] [qryPottPerDen.HEL <= 1.21284] {
  mark: symbol(circle);
  mark-size: 11px;
}
[qryPottPerDen.HEL > 0.78897] [qryPottPerDen.HEL <= 1.21284] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '2.19469', 'lower': '1.21284', 'equality': 'upper', 'label': '1.21285 - 2.19469'} */
[qryPottPerDen.HEL > 1.21284] [qryPottPerDen.HEL <= 2.19469] {
  mark: symbol(circle);
  mark-size: 13px;
}
[qryPottPerDen.HEL > 1.21284] [qryPottPerDen.HEL <= 2.19469] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '3.57861', 'lower': '2.19469', 'equality': 'upper', 'label': '2.19470 - 3.57861'} */
[qryPottPerDen.HEL > 2.19469] [qryPottPerDen.HEL <= 3.57861] {
  mark: symbol(circle);
  mark-size: 16px;
}
[qryPottPerDen.HEL > 2.19469] [qryPottPerDen.HEL <= 3.57861] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '18.95167', 'lower': '3.57861', 'equality': 'upper', 'label': '3.57862 - 18.95167'} */
[qryPottPerDen.HEL > 3.57861] [qryPottPerDen.HEL <= 18.95167] {
  mark: symbol(circle);
  mark-size: 18px;
}
[qryPottPerDen.HEL > 3.57861] [qryPottPerDen.HEL <= 18.95167] :mark {
  fill: #993266;
}

