/* LAYER NAME level123_lamps */
* {
  fill: #d4cfc7;
  stroke: #d4cfc7;
  stroke-width: 1px;
}
/* CLASSIFIER INFO {'upper': '0.1942', 'lower': '0.14799', 'equality': 'upper', 'label': '0.14799 - 0.19420'} */
[qrypotfctden.la > 0.14799] [qrypotfctden.la <= 0.1942] {
  mark: symbol(circle);
  mark-size: 6px;
}
[qrypotfctden.la > 0.14799] [qrypotfctden.la <= 0.1942] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '0.39314', 'lower': '0.1942', 'equality': 'upper', 'label': '0.19421 - 0.39314'} */
[qrypotfctden.la > 0.1942] [qrypotfctden.la <= 0.39314] {
  mark: symbol(circle);
  mark-size: 8px;
}
[qrypotfctden.la > 0.1942] [qrypotfctden.la <= 0.39314] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '0.56492', 'lower': '0.39314', 'equality': 'upper', 'label': '0.39315 - 0.56492'} */
[qrypotfctden.la > 0.39314] [qrypotfctden.la <= 0.56492] {
  mark: symbol(circle);
  mark-size: 11px;
}
[qrypotfctden.la > 0.39314] [qrypotfctden.la <= 0.56492] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '1.00792', 'lower': '0.56492', 'equality': 'upper', 'label': '0.56493 - 1.00792'} */
[qrypotfctden.la > 0.56492] [qrypotfctden.la <= 1.00792] {
  mark: symbol(circle);
  mark-size: 13px;
}
[qrypotfctden.la > 0.56492] [qrypotfctden.la <= 1.00792] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '2.36896', 'lower': '1.00792', 'equality': 'upper', 'label': '1.00793 - 2.36896'} */
[qrypotfctden.la > 1.00792] [qrypotfctden.la <= 2.36896] {
  mark: symbol(circle);
  mark-size: 16px;
}
[qrypotfctden.la > 1.00792] [qrypotfctden.la <= 2.36896] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '4.21572', 'lower': '2.36896', 'equality': 'upper', 'label': '2.36897 - 4.21572'} */
[qrypotfctden.la > 2.36896] [qrypotfctden.la <= 4.21572] {
  mark: symbol(circle);
  mark-size: 18px;
}
[qrypotfctden.la > 2.36896] [qrypotfctden.la <= 4.21572] :mark {
  fill: #993266;
}

