/* LAYER NAME level221_surface_stability */
/* CLASSIFIER INFO {'value': 'Stable', 'label': 'Stable'} */
[tblguf.surfstab = "Stable"] {
  fill: #006600;
  stroke: #d4d0c8;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'value': 'NON', 'label': 'NON'} */
[tblguf.surfstab = "NON"] {
  fill: #cccc99;
  stroke: #d4d0c8;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'value': 'Strip', 'label': 'Strip'} */
[tblguf.surfstab = "Strip"] {
  fill: #cccc66;
  stroke: #d4d0c8;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'value': 'Erode', 'label': 'Erode'} */
[tblguf.surfstab = "Erode"] {
  fill: #999967;
  stroke: #d4d0c8;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'value': 'Unstab', 'label': 'Unstab'} */
[tblguf.surfstab = "Unstab"] {
  fill: #669932;
  stroke: #d4d0c8;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'value': 'Stable', 'label': 'Stable'} */
[tblguf.surfstab = "Stable"] {
  stroke: #d4d0c8;
  stroke-width: 1px;
  stroke-linecap: round;
}

