/* LAYER NAME level170_diabase */
/* CLASSIFIER INFO {'upper': '0.10059', 'lower': '0.03949', 'equality': 'upper', 'label': '0.03949 - 0.10059'} */
[qryLithMatDen.DIA > 0.03949] [qryLithMatDen.DIA <= 0.10059] {
  fill: #99cccc;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '0.19667', 'lower': '0.10059', 'equality': 'upper', 'label': '0.10060 - 0.19667'} */
[qryLithMatDen.DIA > 0.10059] [qryLithMatDen.DIA <= 0.19667] {
  fill: #66cccc;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '0.30278', 'lower': '0.19667', 'equality': 'upper', 'label': '0.19668 - 0.30278'} */
[qryLithMatDen.DIA > 0.19667] [qryLithMatDen.DIA <= 0.30278] {
  fill: #669999;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '0.5018', 'lower': '0.30278', 'equality': 'upper', 'label': '0.30279 - 0.50180'} */
[qryLithMatDen.DIA > 0.30278] [qryLithMatDen.DIA <= 0.5018] {
  fill: #336699;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '0.83432', 'lower': '0.5018', 'equality': 'upper', 'label': '0.50181 - 0.83432'} */
[qryLithMatDen.DIA > 0.5018] [qryLithMatDen.DIA <= 0.83432] {
  fill: #000066;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '2.32614', 'lower': '0.83432', 'equality': 'upper', 'label': '0.83433 - 2.32614'} */
[qryLithMatDen.DIA > 0.83432] [qryLithMatDen.DIA <= 2.32614] {
  fill: #000033;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '0.10059', 'lower': '0.03949', 'equality': 'upper', 'label': '0.03949 - 0.10059'} */
[qryLithMatDen.DIA > 0.03949] [qryLithMatDen.DIA <= 0.10059] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '0.19667', 'lower': '0.10059', 'equality': 'upper', 'label': '0.10060 - 0.19667'} */
[qryLithMatDen.DIA > 0.10059] [qryLithMatDen.DIA <= 0.19667] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '0.30278', 'lower': '0.19667', 'equality': 'upper', 'label': '0.19668 - 0.30278'} */
[qryLithMatDen.DIA > 0.19667] [qryLithMatDen.DIA <= 0.30278] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '0.5018', 'lower': '0.30278', 'equality': 'upper', 'label': '0.30279 - 0.50180'} */
[qryLithMatDen.DIA > 0.30278] [qryLithMatDen.DIA <= 0.5018] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '0.83432', 'lower': '0.5018', 'equality': 'upper', 'label': '0.50181 - 0.83432'} */
[qryLithMatDen.DIA > 0.5018] [qryLithMatDen.DIA <= 0.83432] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '2.32614', 'lower': '0.83432', 'equality': 'upper', 'label': '0.83433 - 2.32614'} */
[qryLithMatDen.DIA > 0.83432] [qryLithMatDen.DIA <= 2.32614] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

