/* LAYER NAME level245_iron_age */
/* CLASSIFIER INFO {'value': '1', 'label': '1'} */
[tblposirec.iachk = "1"] {
  mark: symbol(circle);
  mark-size: 8px;
}
[tblposirec.iachk = "1"] :mark {
  fill: #ff0000;
}

