/* LAYER NAME level35_medieval_ad1191_to_1571 */
* {
  fill: #d4cfc7;
  stroke: #d4cfc7;
  stroke-width: 1px;
}
/* CLASSIFIER INFO {'upper': '0.16212', 'lower': '0.06975', 'equality': 'upper', 'label': '0.06975 - 0.16212'} */
[qrypottperden.med > 0.06975] [qrypottperden.med <= 0.16212] {
  mark: symbol(circle);
  mark-size: 6px;
}
[qrypottperden.med > 0.06975] [qrypottperden.med <= 0.16212] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '0.35109', 'lower': '0.16212', 'equality': 'upper', 'label': '0.16213 - 0.35109'} */
[qrypottperden.med > 0.16212] [qrypottperden.med <= 0.35109] {
  mark: symbol(circle);
  mark-size: 8px;
}
[qrypottperden.med > 0.16212] [qrypottperden.med <= 0.35109] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '0.84261', 'lower': '0.35109', 'equality': 'upper', 'label': '0.35110 - 0.84261'} */
[qrypottperden.med > 0.35109] [qrypottperden.med <= 0.84261] {
  mark: symbol(circle);
  mark-size: 11px;
}
[qrypottperden.med > 0.35109] [qrypottperden.med <= 0.84261] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '1.35823', 'lower': '0.84261', 'equality': 'upper', 'label': '0.84262 - 1.35823'} */
[qrypottperden.med > 0.84261] [qrypottperden.med <= 1.35823] {
  mark: symbol(circle);
  mark-size: 13px;
}
[qrypottperden.med > 0.84261] [qrypottperden.med <= 1.35823] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '2.01584', 'lower': '1.35823', 'equality': 'upper', 'label': '1.35824 - 2.01584'} */
[qrypottperden.med > 1.35823] [qrypottperden.med <= 2.01584] {
  mark: symbol(circle);
  mark-size: 16px;
}
[qrypottperden.med > 1.35823] [qrypottperden.med <= 2.01584] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '3.43479', 'lower': '2.01584', 'equality': 'upper', 'label': '2.01585 - 3.43479'} */
[qrypottperden.med > 2.01584] [qrypottperden.med <= 3.43479] {
  mark: symbol(circle);
  mark-size: 18px;
}
[qrypottperden.med > 2.01584] [qrypottperden.med <= 3.43479] :mark {
  fill: #993266;
}

