/* LAYER NAME level4_all_prehistoric */
* {
  fill: #d4cfc7;
  stroke: #d4cfc7;
  stroke-width: 1px;
}
/* CLASSIFIER INFO {'upper': '0.75525', 'lower': '0.04989', 'equality': 'upper', 'label': '0.04989 - 0.75525'} */
[qrypottpergroupden.prehistori > 0.04989] [qrypottpergroupden.prehistori <= 0.75525] {
  mark: symbol(circle);
  mark-size: 6px;
}
[qrypottpergroupden.prehistori > 0.04989] [qrypottpergroupden.prehistori <= 0.75525] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '2.13631', 'lower': '0.75525', 'equality': 'upper', 'label': '0.75526 - 2.13631'} */
[qrypottpergroupden.prehistori > 0.75525] [qrypottpergroupden.prehistori <= 2.13631] {
  mark: symbol(circle);
  mark-size: 8px;
}
[qrypottpergroupden.prehistori > 0.75525] [qrypottpergroupden.prehistori <= 2.13631] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '4.73104', 'lower': '2.13631', 'equality': 'upper', 'label': '2.13632 - 4.73104'} */
[qrypottpergroupden.prehistori > 2.13631] [qrypottpergroupden.prehistori <= 4.73104] {
  mark: symbol(circle);
  mark-size: 11px;
}
[qrypottpergroupden.prehistori > 2.13631] [qrypottpergroupden.prehistori <= 4.73104] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '9.73834', 'lower': '4.73104', 'equality': 'upper', 'label': '4.73105 - 9.73834'} */
[qrypottpergroupden.prehistori > 4.73104] [qrypottpergroupden.prehistori <= 9.73834] {
  mark: symbol(circle);
  mark-size: 13px;
}
[qrypottpergroupden.prehistori > 4.73104] [qrypottpergroupden.prehistori <= 9.73834] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '18.13072', 'lower': '9.73834', 'equality': 'upper', 'label': '9.73835 - 18.13072'} */
[qrypottpergroupden.prehistori > 9.73834] [qrypottpergroupden.prehistori <= 18.13072] {
  mark: symbol(circle);
  mark-size: 16px;
}
[qrypottpergroupden.prehistori > 9.73834] [qrypottpergroupden.prehistori <= 18.13072] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '44.3763', 'lower': '18.13072', 'equality': 'upper', 'label': '18.13073 - 44.37630'} */
[qrypottpergroupden.prehistori > 18.13072] [qrypottpergroupden.prehistori <= 44.3763] {
  mark: symbol(circle);
  mark-size: 18px;
}
[qrypottpergroupden.prehistori > 18.13072] [qrypottpergroupden.prehistori <= 44.3763] :mark {
  fill: #993266;
}

