/* LAYER NAME level77_byzantine_ad650_to_1191 */
/* CLASSIFIER INFO {'value': '0.3569', 'label': '0.35690'} */
[qrypottperden.byz = "0.3569"] {
  fill: #cc99cc;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '0.44421', 'lower': '0.3569', 'equality': 'upper', 'label': '0.35691 - 0.44421'} */
[qrypottperden.byz > 0.3569] [qrypottperden.byz <= 0.44421] {
  fill: #cc66cc;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '0.48822', 'lower': '0.44421', 'equality': 'upper', 'label': '0.44422 - 0.48822'} */
[qrypottperden.byz > 0.44421] [qrypottperden.byz <= 0.48822] {
  fill: #996799;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '0.7297', 'lower': '0.48822', 'equality': 'upper', 'label': '0.48823 - 0.72970'} */
[qrypottperden.byz > 0.48822] [qrypottperden.byz <= 0.7297] {
  fill: #993266;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '0.7786', 'lower': '0.7297', 'equality': 'upper', 'label': '0.72971 - 0.77860'} */
[qrypottperden.byz > 0.7297] [qrypottperden.byz <= 0.7786] {
  fill: #660000;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '1.06233', 'lower': '0.7786', 'equality': 'upper', 'label': '0.77861 - 1.06233'} */
[qrypottperden.byz > 0.7786] [qrypottperden.byz <= 1.06233] {
  fill: #330000;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'value': '0.3569', 'label': '0.35690'} */
[qrypottperden.byz = "0.3569"] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '0.44421', 'lower': '0.3569', 'equality': 'upper', 'label': '0.35691 - 0.44421'} */
[qrypottperden.byz > 0.3569] [qrypottperden.byz <= 0.44421] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '0.48822', 'lower': '0.44421', 'equality': 'upper', 'label': '0.44422 - 0.48822'} */
[qrypottperden.byz > 0.44421] [qrypottperden.byz <= 0.48822] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '0.7297', 'lower': '0.48822', 'equality': 'upper', 'label': '0.48823 - 0.72970'} */
[qrypottperden.byz > 0.48822] [qrypottperden.byz <= 0.7297] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '0.7786', 'lower': '0.7297', 'equality': 'upper', 'label': '0.72971 - 0.77860'} */
[qrypottperden.byz > 0.7297] [qrypottperden.byz <= 0.7786] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '1.06233', 'lower': '0.7786', 'equality': 'upper', 'label': '0.77861 - 1.06233'} */
[qrypottperden.byz > 0.7786] [qrypottperden.byz <= 1.06233] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

