/* LAYER NAME level7_all_med_mod */
* {
  fill: #d4cfc7;
  stroke: #d4cfc7;
  stroke-width: 1px;
}
/* CLASSIFIER INFO {'upper': '4.58884', 'lower': '0.02709', 'equality': 'upper', 'label': '0.02709 - 4.58884'} */
[qryPottPerGroupDen.MEDIEVAL_M > 0.02709] [qryPottPerGroupDen.MEDIEVAL_M <= 4.58884] {
  mark: symbol(circle);
  mark-size: 6px;
}
[qryPottPerGroupDen.MEDIEVAL_M > 0.02709] [qryPottPerGroupDen.MEDIEVAL_M <= 4.58884] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '12.76814', 'lower': '4.58884', 'equality': 'upper', 'label': '4.58885 - 12.76814'} */
[qryPottPerGroupDen.MEDIEVAL_M > 4.58884] [qryPottPerGroupDen.MEDIEVAL_M <= 12.76814] {
  mark: symbol(circle);
  mark-size: 8px;
}
[qryPottPerGroupDen.MEDIEVAL_M > 4.58884] [qryPottPerGroupDen.MEDIEVAL_M <= 12.76814] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '27.10167', 'lower': '12.76814', 'equality': 'upper', 'label': '12.76815 - 27.10167'} */
[qryPottPerGroupDen.MEDIEVAL_M > 12.76814] [qryPottPerGroupDen.MEDIEVAL_M <= 27.10167] {
  mark: symbol(circle);
  mark-size: 11px;
}
[qryPottPerGroupDen.MEDIEVAL_M > 12.76814] [qryPottPerGroupDen.MEDIEVAL_M <= 27.10167] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '48.29952', 'lower': '27.10167', 'equality': 'upper', 'label': '27.10168 - 48.29952'} */
[qryPottPerGroupDen.MEDIEVAL_M > 27.10167] [qryPottPerGroupDen.MEDIEVAL_M <= 48.29952] {
  mark: symbol(circle);
  mark-size: 13px;
}
[qryPottPerGroupDen.MEDIEVAL_M > 27.10167] [qryPottPerGroupDen.MEDIEVAL_M <= 48.29952] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '90.9965', 'lower': '48.29952', 'equality': 'upper', 'label': '48.29953 - 90.99650'} */
[qryPottPerGroupDen.MEDIEVAL_M > 48.29952] [qryPottPerGroupDen.MEDIEVAL_M <= 90.9965] {
  mark: symbol(circle);
  mark-size: 16px;
}
[qryPottPerGroupDen.MEDIEVAL_M > 48.29952] [qryPottPerGroupDen.MEDIEVAL_M <= 90.9965] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '158.1492', 'lower': '90.9965', 'equality': 'upper', 'label': '90.99651 - 158.14920'} */
[qryPottPerGroupDen.MEDIEVAL_M > 90.9965] [qryPottPerGroupDen.MEDIEVAL_M <= 158.1492] {
  mark: symbol(circle);
  mark-size: 18px;
}
[qryPottPerGroupDen.MEDIEVAL_M > 90.9965] [qryPottPerGroupDen.MEDIEVAL_M <= 158.1492] :mark {
  fill: #993266;
}

