/* LAYER NAME level195_utilised_fill */
/* CLASSIFIER INFO {'upper': '0.08615', 'lower': '0.02232', 'equality': 'upper', 'label': '0.02232 - 0.08615'} */
[qryChipToolDen.UTI > 0.02232] [qryChipToolDen.UTI <= 0.08615] {
  fill: #99cccc;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '0.16645', 'lower': '0.08615', 'equality': 'upper', 'label': '0.08616 - 0.16645'} */
[qryChipToolDen.UTI > 0.08615] [qryChipToolDen.UTI <= 0.16645] {
  fill: #66cccc;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '0.28357', 'lower': '0.16645', 'equality': 'upper', 'label': '0.16646 - 0.28357'} */
[qryChipToolDen.UTI > 0.16645] [qryChipToolDen.UTI <= 0.28357] {
  fill: #669999;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '0.43334', 'lower': '0.28357', 'equality': 'upper', 'label': '0.28358 - 0.43334'} */
[qryChipToolDen.UTI > 0.28357] [qryChipToolDen.UTI <= 0.43334] {
  fill: #336699;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '0.63972', 'lower': '0.43334', 'equality': 'upper', 'label': '0.43335 - 0.63972'} */
[qryChipToolDen.UTI > 0.43334] [qryChipToolDen.UTI <= 0.63972] {
  fill: #000066;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '0.98188', 'lower': '0.63972', 'equality': 'upper', 'label': '0.63973 - 0.98188'} */
[qryChipToolDen.UTI > 0.63972] [qryChipToolDen.UTI <= 0.98188] {
  fill: #000033;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '0.08615', 'lower': '0.02232', 'equality': 'upper', 'label': '0.02232 - 0.08615'} */
[qryChipToolDen.UTI > 0.02232] [qryChipToolDen.UTI <= 0.08615] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '0.16645', 'lower': '0.08615', 'equality': 'upper', 'label': '0.08616 - 0.16645'} */
[qryChipToolDen.UTI > 0.08615] [qryChipToolDen.UTI <= 0.16645] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '0.28357', 'lower': '0.16645', 'equality': 'upper', 'label': '0.16646 - 0.28357'} */
[qryChipToolDen.UTI > 0.16645] [qryChipToolDen.UTI <= 0.28357] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '0.43334', 'lower': '0.28357', 'equality': 'upper', 'label': '0.28358 - 0.43334'} */
[qryChipToolDen.UTI > 0.28357] [qryChipToolDen.UTI <= 0.43334] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '0.63972', 'lower': '0.43334', 'equality': 'upper', 'label': '0.43335 - 0.63972'} */
[qryChipToolDen.UTI > 0.43334] [qryChipToolDen.UTI <= 0.63972] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '0.98188', 'lower': '0.63972', 'equality': 'upper', 'label': '0.63973 - 0.98188'} */
[qryChipToolDen.UTI > 0.63972] [qryChipToolDen.UTI <= 0.98188] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

