/* LAYER NAME level246_hellenistic_to_roman */
/* CLASSIFIER INFO {'value': '1', 'label': '1'} */
[tblposirec.hrchk = "1"] {
  mark: symbol(circle);
  mark-size: 8px;
}
[tblposirec.hrchk = "1"] :mark {
  fill: #ff0000;
}

