/* LAYER NAME level200_non_dhoukani_count */
* {
  fill: #d4cfc7;
  stroke: #d4cfc7;
  stroke-width: 1px;
}
/* CLASSIFIER INFO {'value': '1', 'label': '1.00000'} */
[qrychipdhocounts.notdho = "1"] {
  mark: symbol(circle);
  mark-size: 4px;
}
[qrychipdhocounts.notdho = "1"] :mark {
  fill: #336699;
}

/* CLASSIFIER INFO {'upper': '2', 'lower': '1', 'equality': 'upper', 'label': '1.00001 - 2.00000'} */
[qrychipdhocounts.notdho > 1] [qrychipdhocounts.notdho <= 2] {
  mark: symbol(circle);
  mark-size: 7px;
}
[qrychipdhocounts.notdho > 1] [qrychipdhocounts.notdho <= 2] :mark {
  fill: #336699;
}

/* CLASSIFIER INFO {'upper': '4', 'lower': '2', 'equality': 'upper', 'label': '2.00001 - 4.00000'} */
[qrychipdhocounts.notdho > 2] [qrychipdhocounts.notdho <= 4] {
  mark: symbol(circle);
  mark-size: 10px;
}
[qrychipdhocounts.notdho > 2] [qrychipdhocounts.notdho <= 4] :mark {
  fill: #336699;
}

/* CLASSIFIER INFO {'upper': '6', 'lower': '4', 'equality': 'upper', 'label': '4.00001 - 6.00000'} */
[qrychipdhocounts.notdho > 4] [qrychipdhocounts.notdho <= 6] {
  mark: symbol(circle);
  mark-size: 12px;
}
[qrychipdhocounts.notdho > 4] [qrychipdhocounts.notdho <= 6] :mark {
  fill: #336699;
}

/* CLASSIFIER INFO {'upper': '10', 'lower': '6', 'equality': 'upper', 'label': '6.00001 - 10.00000'} */
[qrychipdhocounts.notdho > 6] [qrychipdhocounts.notdho <= 10] {
  mark: symbol(circle);
  mark-size: 15px;
}
[qrychipdhocounts.notdho > 6] [qrychipdhocounts.notdho <= 10] :mark {
  fill: #336699;
}

/* CLASSIFIER INFO {'upper': '14', 'lower': '10', 'equality': 'upper', 'label': '10.00001 - 14.00000'} */
[qrychipdhocounts.notdho > 10] [qrychipdhocounts.notdho <= 14] {
  mark: symbol(circle);
  mark-size: 18px;
}
[qrychipdhocounts.notdho > 10] [qrychipdhocounts.notdho <= 14] :mark {
  fill: #336699;
}

