/* LAYER NAME level57_protohistoric_ba_1650_to_1050bc */
/* CLASSIFIER INFO {'upper': '0.13024', 'lower': '0.03375', 'equality': 'upper', 'label': '0.03375 - 0.13024'} */
[qryPottPerDen.POB > 0.03375] [qryPottPerDen.POB <= 0.13024] {
  fill: #cc99cc;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '0.22307', 'lower': '0.13024', 'equality': 'upper', 'label': '0.13025 - 0.22307'} */
[qryPottPerDen.POB > 0.13024] [qryPottPerDen.POB <= 0.22307] {
  fill: #cc66cc;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '0.39422', 'lower': '0.22307', 'equality': 'upper', 'label': '0.22308 - 0.39422'} */
[qryPottPerDen.POB > 0.22307] [qryPottPerDen.POB <= 0.39422] {
  fill: #996799;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '0.52195', 'lower': '0.39422', 'equality': 'upper', 'label': '0.39423 - 0.52195'} */
[qryPottPerDen.POB > 0.39422] [qryPottPerDen.POB <= 0.52195] {
  fill: #993266;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '1.06233', 'lower': '0.52195', 'equality': 'upper', 'label': '0.52196 - 1.06233'} */
[qryPottPerDen.POB > 0.52195] [qryPottPerDen.POB <= 1.06233] {
  fill: #660000;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '15.18136', 'lower': '1.06233', 'equality': 'upper', 'label': '1.06234 - 15.18136'} */
[qryPottPerDen.POB > 1.06233] [qryPottPerDen.POB <= 15.18136] {
  fill: #330000;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '0.13024', 'lower': '0.03375', 'equality': 'upper', 'label': '0.03375 - 0.13024'} */
[qryPottPerDen.POB > 0.03375] [qryPottPerDen.POB <= 0.13024] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '0.22307', 'lower': '0.13024', 'equality': 'upper', 'label': '0.13025 - 0.22307'} */
[qryPottPerDen.POB > 0.13024] [qryPottPerDen.POB <= 0.22307] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '0.39422', 'lower': '0.22307', 'equality': 'upper', 'label': '0.22308 - 0.39422'} */
[qryPottPerDen.POB > 0.22307] [qryPottPerDen.POB <= 0.39422] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '0.52195', 'lower': '0.39422', 'equality': 'upper', 'label': '0.39423 - 0.52195'} */
[qryPottPerDen.POB > 0.39422] [qryPottPerDen.POB <= 0.52195] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '1.06233', 'lower': '0.52195', 'equality': 'upper', 'label': '0.52196 - 1.06233'} */
[qryPottPerDen.POB > 0.52195] [qryPottPerDen.POB <= 1.06233] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '15.18136', 'lower': '1.06233', 'equality': 'upper', 'label': '1.06234 - 15.18136'} */
[qryPottPerDen.POB > 1.06233] [qryPottPerDen.POB <= 15.18136] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

