/* LAYER NAME level70_early_roman_31bc_to_ad200 */
/* CLASSIFIER INFO {'upper': '0.62116', 'lower': '0.08346', 'equality': 'upper', 'label': '0.08346 - 0.62116'} */
[qrypottperden.er > 0.08346] [qrypottperden.er <= 0.62116] {
  fill: #cc99cc;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '1.26111', 'lower': '0.62116', 'equality': 'upper', 'label': '0.62117 - 1.26111'} */
[qrypottperden.er > 0.62116] [qrypottperden.er <= 1.26111] {
  fill: #cc66cc;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '2.94934', 'lower': '1.26111', 'equality': 'upper', 'label': '1.26112 - 2.94934'} */
[qrypottperden.er > 1.26111] [qrypottperden.er <= 2.94934] {
  fill: #996799;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '4.73792', 'lower': '2.94934', 'equality': 'upper', 'label': '2.94935 - 4.73792'} */
[qrypottperden.er > 2.94934] [qrypottperden.er <= 4.73792] {
  fill: #993266;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '9.68363', 'lower': '4.73792', 'equality': 'upper', 'label': '4.73793 - 9.68363'} */
[qrypottperden.er > 4.73792] [qrypottperden.er <= 9.68363] {
  fill: #660000;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '16.61723', 'lower': '9.68363', 'equality': 'upper', 'label': '9.68364 - 16.61723'} */
[qrypottperden.er > 9.68363] [qrypottperden.er <= 16.61723] {
  fill: #330000;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '0.62116', 'lower': '0.08346', 'equality': 'upper', 'label': '0.08346 - 0.62116'} */
[qrypottperden.er > 0.08346] [qrypottperden.er <= 0.62116] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '1.26111', 'lower': '0.62116', 'equality': 'upper', 'label': '0.62117 - 1.26111'} */
[qrypottperden.er > 0.62116] [qrypottperden.er <= 1.26111] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '2.94934', 'lower': '1.26111', 'equality': 'upper', 'label': '1.26112 - 2.94934'} */
[qrypottperden.er > 1.26111] [qrypottperden.er <= 2.94934] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '4.73792', 'lower': '2.94934', 'equality': 'upper', 'label': '2.94935 - 4.73792'} */
[qrypottperden.er > 2.94934] [qrypottperden.er <= 4.73792] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '9.68363', 'lower': '4.73792', 'equality': 'upper', 'label': '4.73793 - 9.68363'} */
[qrypottperden.er > 4.73792] [qrypottperden.er <= 9.68363] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '16.61723', 'lower': '9.68363', 'equality': 'upper', 'label': '9.68364 - 16.61723'} */
[qrypottperden.er > 9.68363] [qrypottperden.er <= 16.61723] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

