/* LAYER NAME level68_her_hell_to_e_roman_312bc_to_ad200 */
/* CLASSIFIER INFO {'upper': '0.24283', 'lower': '0.12608', 'equality': 'upper', 'label': '0.12608 - 0.24283'} */
[qrypottperden.her > 0.12608] [qrypottperden.her <= 0.24283] {
  fill: #cc99cc;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '0.53385', 'lower': '0.24283', 'equality': 'upper', 'label': '0.24284 - 0.53385'} */
[qrypottperden.her > 0.24283] [qrypottperden.her <= 0.53385] {
  fill: #cc66cc;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '0.74009', 'lower': '0.53385', 'equality': 'upper', 'label': '0.53386 - 0.74009'} */
[qrypottperden.her > 0.53385] [qrypottperden.her <= 0.74009] {
  fill: #996799;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '0.98568', 'lower': '0.74009', 'equality': 'upper', 'label': '0.74010 - 0.98568'} */
[qrypottperden.her > 0.74009] [qrypottperden.her <= 0.98568] {
  fill: #993266;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '2.11581', 'lower': '0.98568', 'equality': 'upper', 'label': '0.98569 - 2.11581'} */
[qrypottperden.her > 0.98568] [qrypottperden.her <= 2.11581] {
  fill: #660000;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '4.73792', 'lower': '2.11581', 'equality': 'upper', 'label': '2.11582 - 4.73792'} */
[qrypottperden.her > 2.11581] [qrypottperden.her <= 4.73792] {
  fill: #330000;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '0.24283', 'lower': '0.12608', 'equality': 'upper', 'label': '0.12608 - 0.24283'} */
[qrypottperden.her > 0.12608] [qrypottperden.her <= 0.24283] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '0.53385', 'lower': '0.24283', 'equality': 'upper', 'label': '0.24284 - 0.53385'} */
[qrypottperden.her > 0.24283] [qrypottperden.her <= 0.53385] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '0.74009', 'lower': '0.53385', 'equality': 'upper', 'label': '0.53386 - 0.74009'} */
[qrypottperden.her > 0.53385] [qrypottperden.her <= 0.74009] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '0.98568', 'lower': '0.74009', 'equality': 'upper', 'label': '0.74010 - 0.98568'} */
[qrypottperden.her > 0.74009] [qrypottperden.her <= 0.98568] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '2.11581', 'lower': '0.98568', 'equality': 'upper', 'label': '0.98569 - 2.11581'} */
[qrypottperden.her > 0.98568] [qrypottperden.her <= 2.11581] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '4.73792', 'lower': '2.11581', 'equality': 'upper', 'label': '2.11582 - 4.73792'} */
[qrypottperden.her > 2.11581] [qrypottperden.her <= 4.73792] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

