/* LAYER NAME level131_kaolin */
* {
  fill: #d4cfc7;
  stroke: #d4cfc7;
  stroke-width: 1px;
}
/* CLASSIFIER INFO {'upper': '0.37004', 'lower': '0.05124', 'equality': 'upper', 'label': '0.05124 - 0.37004'} */
[qrypottfabden.k > 0.05124] [qrypottfabden.k <= 0.37004] {
  mark: symbol(circle);
  mark-size: 6px;
}
[qrypottfabden.k > 0.05124] [qrypottfabden.k <= 0.37004] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '0.72577', 'lower': '0.37004', 'equality': 'upper', 'label': '0.37005 - 0.72577'} */
[qrypottfabden.k > 0.37004] [qrypottfabden.k <= 0.72577] {
  mark: symbol(circle);
  mark-size: 8px;
}
[qrypottfabden.k > 0.37004] [qrypottfabden.k <= 0.72577] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '1.19736', 'lower': '0.72577', 'equality': 'upper', 'label': '0.72578 - 1.19736'} */
[qrypottfabden.k > 0.72577] [qrypottfabden.k <= 1.19736] {
  mark: symbol(circle);
  mark-size: 11px;
}
[qrypottfabden.k > 0.72577] [qrypottfabden.k <= 1.19736] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '1.76559', 'lower': '1.19736', 'equality': 'upper', 'label': '1.19737 - 1.76559'} */
[qrypottfabden.k > 1.19736] [qrypottfabden.k <= 1.76559] {
  mark: symbol(circle);
  mark-size: 13px;
}
[qrypottfabden.k > 1.19736] [qrypottfabden.k <= 1.76559] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '2.54705', 'lower': '1.76559', 'equality': 'upper', 'label': '1.76560 - 2.54705'} */
[qrypottfabden.k > 1.76559] [qrypottfabden.k <= 2.54705] {
  mark: symbol(circle);
  mark-size: 16px;
}
[qrypottfabden.k > 1.76559] [qrypottfabden.k <= 2.54705] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '4.31967', 'lower': '2.54705', 'equality': 'upper', 'label': '2.54706 - 4.31967'} */
[qrypottfabden.k > 2.54705] [qrypottfabden.k <= 4.31967] {
  mark: symbol(circle);
  mark-size: 18px;
}
[qrypottfabden.k > 2.54705] [qrypottfabden.k <= 4.31967] :mark {
  fill: #993266;
}

