/* LAYER NAME level81_medieval_modern_ad1191_to_present */
/* CLASSIFIER INFO {'upper': '2.94441', 'lower': '0.03121', 'equality': 'upper', 'label': '0.03121 - 2.94441'} */
[qrypottperden.mm > 0.03121] [qrypottperden.mm <= 2.94441] {
  fill: #cc99cc;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '8.36401', 'lower': '2.94441', 'equality': 'upper', 'label': '2.94442 - 8.36401'} */
[qrypottperden.mm > 2.94441] [qrypottperden.mm <= 8.36401] {
  fill: #cc66cc;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '18.92509', 'lower': '8.36401', 'equality': 'upper', 'label': '8.36402 - 18.92509'} */
[qrypottperden.mm > 8.36401] [qrypottperden.mm <= 18.92509] {
  fill: #996799;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '35.81589', 'lower': '18.92509', 'equality': 'upper', 'label': '18.92510 - 35.81589'} */
[qrypottperden.mm > 18.92509] [qrypottperden.mm <= 35.81589] {
  fill: #993266;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '62.3976', 'lower': '35.81589', 'equality': 'upper', 'label': '35.81590 - 62.39760'} */
[qrypottperden.mm > 35.81589] [qrypottperden.mm <= 62.3976] {
  fill: #660000;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '121.3902', 'lower': '62.3976', 'equality': 'upper', 'label': '62.39761 - 121.39020'} */
[qrypottperden.mm > 62.3976] [qrypottperden.mm <= 121.3902] {
  fill: #330000;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '2.94441', 'lower': '0.03121', 'equality': 'upper', 'label': '0.03121 - 2.94441'} */
[qrypottperden.mm > 0.03121] [qrypottperden.mm <= 2.94441] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '8.36401', 'lower': '2.94441', 'equality': 'upper', 'label': '2.94442 - 8.36401'} */
[qrypottperden.mm > 2.94441] [qrypottperden.mm <= 8.36401] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '18.92509', 'lower': '8.36401', 'equality': 'upper', 'label': '8.36402 - 18.92509'} */
[qrypottperden.mm > 8.36401] [qrypottperden.mm <= 18.92509] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '35.81589', 'lower': '18.92509', 'equality': 'upper', 'label': '18.92510 - 35.81589'} */
[qrypottperden.mm > 18.92509] [qrypottperden.mm <= 35.81589] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '62.3976', 'lower': '35.81589', 'equality': 'upper', 'label': '35.81590 - 62.39760'} */
[qrypottperden.mm > 35.81589] [qrypottperden.mm <= 62.3976] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '121.3902', 'lower': '62.3976', 'equality': 'upper', 'label': '62.39761 - 121.39020'} */
[qrypottperden.mm > 62.3976] [qrypottperden.mm <= 121.3902] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

