/* LAYER NAME level72_mid_roman_3rd_to_4th_cen */
/* CLASSIFIER INFO {'value': '0.08504', 'label': '0.08504'} */
[qryPottPerDen.MR = "0.08504"] {
  fill: #cc99cc;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '0.1798', 'lower': '0.08504', 'equality': 'upper', 'label': '0.08505 - 0.17980'} */
[qryPottPerDen.MR > 0.08504] [qryPottPerDen.MR <= 0.1798] {
  fill: #cc66cc;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '0.28974', 'lower': '0.1798', 'equality': 'upper', 'label': '0.17981 - 0.28974'} */
[qryPottPerDen.MR > 0.1798] [qryPottPerDen.MR <= 0.28974] {
  fill: #996799;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '0.71628', 'lower': '0.28974', 'equality': 'upper', 'label': '0.28975 - 0.71628'} */
[qryPottPerDen.MR > 0.28974] [qryPottPerDen.MR <= 0.71628] {
  fill: #993266;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '1.7105', 'lower': '0.71628', 'equality': 'upper', 'label': '0.71629 - 1.71050'} */
[qryPottPerDen.MR > 0.71628] [qryPottPerDen.MR <= 1.7105] {
  fill: #660000;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '3.22536', 'lower': '1.7105', 'equality': 'upper', 'label': '1.71051 - 3.22536'} */
[qryPottPerDen.MR > 1.7105] [qryPottPerDen.MR <= 3.22536] {
  fill: #330000;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'value': '0.08504', 'label': '0.08504'} */
[qryPottPerDen.MR = "0.08504"] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '0.1798', 'lower': '0.08504', 'equality': 'upper', 'label': '0.08505 - 0.17980'} */
[qryPottPerDen.MR > 0.08504] [qryPottPerDen.MR <= 0.1798] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '0.28974', 'lower': '0.1798', 'equality': 'upper', 'label': '0.17981 - 0.28974'} */
[qryPottPerDen.MR > 0.1798] [qryPottPerDen.MR <= 0.28974] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '0.71628', 'lower': '0.28974', 'equality': 'upper', 'label': '0.28975 - 0.71628'} */
[qryPottPerDen.MR > 0.28974] [qryPottPerDen.MR <= 0.71628] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '1.7105', 'lower': '0.71628', 'equality': 'upper', 'label': '0.71629 - 1.71050'} */
[qryPottPerDen.MR > 0.71628] [qryPottPerDen.MR <= 1.7105] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '3.22536', 'lower': '1.7105', 'equality': 'upper', 'label': '1.71051 - 3.22536'} */
[qryPottPerDen.MR > 1.7105] [qryPottPerDen.MR <= 3.22536] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

