/* LAYER NAME level76_historical_750bc_to_present */
/* CLASSIFIER INFO {'upper': '5.79053', 'lower': '0.02441', 'equality': 'upper', 'label': '0.02441 - 5.79053'} */
[qryPottPerDen.HIS > 0.02441] [qryPottPerDen.HIS <= 5.79053] {
  fill: #cc99cc;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '16.48382', 'lower': '5.79053', 'equality': 'upper', 'label': '5.79054 - 16.48382'} */
[qryPottPerDen.HIS > 5.79053] [qryPottPerDen.HIS <= 16.48382] {
  fill: #cc66cc;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '34.34793', 'lower': '16.48382', 'equality': 'upper', 'label': '16.48383 - 34.34793'} */
[qryPottPerDen.HIS > 16.48382] [qryPottPerDen.HIS <= 34.34793] {
  fill: #996799;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '63.07416', 'lower': '34.34793', 'equality': 'upper', 'label': '34.34794 - 63.07416'} */
[qryPottPerDen.HIS > 34.34793] [qryPottPerDen.HIS <= 63.07416] {
  fill: #993266;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '111.94786', 'lower': '63.07416', 'equality': 'upper', 'label': '63.07417 - 111.94786'} */
[qryPottPerDen.HIS > 63.07416] [qryPottPerDen.HIS <= 111.94786] {
  fill: #660000;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '227.87963', 'lower': '111.94786', 'equality': 'upper', 'label': '111.94787 - 227.87963'} */
[qryPottPerDen.HIS > 111.94786] [qryPottPerDen.HIS <= 227.87963] {
  fill: #330000;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '5.79053', 'lower': '0.02441', 'equality': 'upper', 'label': '0.02441 - 5.79053'} */
[qryPottPerDen.HIS > 0.02441] [qryPottPerDen.HIS <= 5.79053] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '16.48382', 'lower': '5.79053', 'equality': 'upper', 'label': '5.79054 - 16.48382'} */
[qryPottPerDen.HIS > 5.79053] [qryPottPerDen.HIS <= 16.48382] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '34.34793', 'lower': '16.48382', 'equality': 'upper', 'label': '16.48383 - 34.34793'} */
[qryPottPerDen.HIS > 16.48382] [qryPottPerDen.HIS <= 34.34793] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '63.07416', 'lower': '34.34793', 'equality': 'upper', 'label': '34.34794 - 63.07416'} */
[qryPottPerDen.HIS > 34.34793] [qryPottPerDen.HIS <= 63.07416] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '111.94786', 'lower': '63.07416', 'equality': 'upper', 'label': '63.07417 - 111.94786'} */
[qryPottPerDen.HIS > 63.07416] [qryPottPerDen.HIS <= 111.94786] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '227.87963', 'lower': '111.94786', 'equality': 'upper', 'label': '111.94787 - 227.87963'} */
[qryPottPerDen.HIS > 111.94786] [qryPottPerDen.HIS <= 227.87963] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

