/* LAYER NAME level236_rock_pile */
/* CLASSIFIER INFO {'value': '1', 'label': '1'} */
[tblposirec.rockchk = "1"] {
  mark: symbol(circle);
  mark-size: 8px;
}
[tblposirec.rockchk = "1"] :mark {
  fill: #ff0000;
}

