/* LAYER NAME level67_hell_roman_312bc_to_ad650 */
/* CLASSIFIER INFO {'upper': '2.14776', 'lower': '0.02232', 'equality': 'upper', 'label': '0.02232 - 2.14776'} */
[qrypottperden.hr > 0.02232] [qrypottperden.hr <= 2.14776] {
  fill: #cc99cc;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '7.94518', 'lower': '2.14776', 'equality': 'upper', 'label': '2.14777 - 7.94518'} */
[qrypottperden.hr > 2.14776] [qrypottperden.hr <= 7.94518] {
  fill: #cc66cc;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '20.526', 'lower': '7.94518', 'equality': 'upper', 'label': '7.94519 - 20.52600'} */
[qrypottperden.hr > 7.94518] [qrypottperden.hr <= 20.526] {
  fill: #996799;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '38.29527', 'lower': '20.526', 'equality': 'upper', 'label': '20.52601 - 38.29527'} */
[qrypottperden.hr > 20.526] [qrypottperden.hr <= 38.29527] {
  fill: #993266;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '89.99833', 'lower': '38.29527', 'equality': 'upper', 'label': '38.29528 - 89.99833'} */
[qrypottperden.hr > 38.29527] [qrypottperden.hr <= 89.99833] {
  fill: #660000;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '186.94379', 'lower': '89.99833', 'equality': 'upper', 'label': '89.99834 - 186.94379'} */
[qrypottperden.hr > 89.99833] [qrypottperden.hr <= 186.94379] {
  fill: #330000;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '2.14776', 'lower': '0.02232', 'equality': 'upper', 'label': '0.02232 - 2.14776'} */
[qrypottperden.hr > 0.02232] [qrypottperden.hr <= 2.14776] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '7.94518', 'lower': '2.14776', 'equality': 'upper', 'label': '2.14777 - 7.94518'} */
[qrypottperden.hr > 2.14776] [qrypottperden.hr <= 7.94518] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '20.526', 'lower': '7.94518', 'equality': 'upper', 'label': '7.94519 - 20.52600'} */
[qrypottperden.hr > 7.94518] [qrypottperden.hr <= 20.526] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '38.29527', 'lower': '20.526', 'equality': 'upper', 'label': '20.52601 - 38.29527'} */
[qrypottperden.hr > 20.526] [qrypottperden.hr <= 38.29527] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '89.99833', 'lower': '38.29527', 'equality': 'upper', 'label': '38.29528 - 89.99833'} */
[qrypottperden.hr > 38.29527] [qrypottperden.hr <= 89.99833] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '186.94379', 'lower': '89.99833', 'equality': 'upper', 'label': '89.99834 - 186.94379'} */
[qrypottperden.hr > 89.99833] [qrypottperden.hr <= 186.94379] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

