/* LAYER NAME level49_all_iron_age */
/* CLASSIFIER INFO {'upper': '0.33856', 'lower': '0.03179', 'equality': 'upper', 'label': '0.03179 - 0.33856'} */
[qrypottpergroupden.iron_age > 0.03179] [qrypottpergroupden.iron_age <= 0.33856] {
  fill: #cc99cc;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '0.71837', 'lower': '0.33856', 'equality': 'upper', 'label': '0.33857 - 0.71837'} */
[qrypottpergroupden.iron_age > 0.33856] [qrypottpergroupden.iron_age <= 0.71837] {
  fill: #cc66cc;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '1.32873', 'lower': '0.71837', 'equality': 'upper', 'label': '0.71838 - 1.32873'} */
[qrypottpergroupden.iron_age > 0.71837] [qrypottpergroupden.iron_age <= 1.32873] {
  fill: #996799;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '2.36692', 'lower': '1.32873', 'equality': 'upper', 'label': '1.32874 - 2.36692'} */
[qrypottpergroupden.iron_age > 1.32873] [qrypottpergroupden.iron_age <= 2.36692] {
  fill: #993266;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '3.95447', 'lower': '2.36692', 'equality': 'upper', 'label': '2.36693 - 3.95447'} */
[qrypottpergroupden.iron_age > 2.36692] [qrypottpergroupden.iron_age <= 3.95447] {
  fill: #660000;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '6.99674', 'lower': '3.95447', 'equality': 'upper', 'label': '3.95448 - 6.99674'} */
[qrypottpergroupden.iron_age > 3.95447] [qrypottpergroupden.iron_age <= 6.99674] {
  fill: #330000;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '0.33856', 'lower': '0.03179', 'equality': 'upper', 'label': '0.03179 - 0.33856'} */
[qrypottpergroupden.iron_age > 0.03179] [qrypottpergroupden.iron_age <= 0.33856] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '0.71837', 'lower': '0.33856', 'equality': 'upper', 'label': '0.33857 - 0.71837'} */
[qrypottpergroupden.iron_age > 0.33856] [qrypottpergroupden.iron_age <= 0.71837] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '1.32873', 'lower': '0.71837', 'equality': 'upper', 'label': '0.71838 - 1.32873'} */
[qrypottpergroupden.iron_age > 0.71837] [qrypottpergroupden.iron_age <= 1.32873] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '2.36692', 'lower': '1.32873', 'equality': 'upper', 'label': '1.32874 - 2.36692'} */
[qrypottpergroupden.iron_age > 1.32873] [qrypottpergroupden.iron_age <= 2.36692] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '3.95447', 'lower': '2.36692', 'equality': 'upper', 'label': '2.36693 - 3.95447'} */
[qrypottpergroupden.iron_age > 2.36692] [qrypottpergroupden.iron_age <= 3.95447] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '6.99674', 'lower': '3.95447', 'equality': 'upper', 'label': '3.95448 - 6.99674'} */
[qrypottpergroupden.iron_age > 3.95447] [qrypottpergroupden.iron_age <= 6.99674] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

