/* LAYER NAME level242_view */
/* CLASSIFIER INFO {'value': '1', 'label': '1'} */
[tblposirec.viewchk = "1"] {
  mark: symbol(circle);
  mark-size: 8px;
}
[tblposirec.viewchk = "1"] :mark {
  fill: #ff0000;
}

