/* LAYER NAME level9_chalcolithic_3900_to_2600bc */
* {
  fill: #d4cfc7;
  stroke: #d4cfc7;
  stroke-width: 1px;
}
/* CLASSIFIER INFO {'upper': '0.56377', 'lower': '0.14608', 'equality': 'upper', 'label': '0.14608 - 0.56377'} */
[qrypottperden.chal > 0.14608] [qrypottperden.chal <= 0.56377] {
  mark: symbol(circle);
  mark-size: 6px;
}
[qrypottperden.chal > 0.14608] [qrypottperden.chal <= 0.56377] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '1.34632', 'lower': '0.56377', 'equality': 'upper', 'label': '0.56378 - 1.34632'} */
[qrypottperden.chal > 0.56377] [qrypottperden.chal <= 1.34632] {
  mark: symbol(circle);
  mark-size: 8px;
}
[qrypottperden.chal > 0.56377] [qrypottperden.chal <= 1.34632] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '3.13592', 'lower': '1.34632', 'equality': 'upper', 'label': '1.34633 - 3.13592'} */
[qrypottperden.chal > 1.34632] [qrypottperden.chal <= 3.13592] {
  mark: symbol(circle);
  mark-size: 11px;
}
[qrypottperden.chal > 1.34632] [qrypottperden.chal <= 3.13592] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '4.79692', 'lower': '3.13592', 'equality': 'upper', 'label': '3.13593 - 4.79692'} */
[qrypottperden.chal > 3.13592] [qrypottperden.chal <= 4.79692] {
  mark: symbol(circle);
  mark-size: 13px;
}
[qrypottperden.chal > 3.13592] [qrypottperden.chal <= 4.79692] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '7.37759', 'lower': '4.79692', 'equality': 'upper', 'label': '4.79693 - 7.37759'} */
[qrypottperden.chal > 4.79692] [qrypottperden.chal <= 7.37759] {
  mark: symbol(circle);
  mark-size: 16px;
}
[qrypottperden.chal > 4.79692] [qrypottperden.chal <= 7.37759] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '16.1162', 'lower': '7.37759', 'equality': 'upper', 'label': '7.37760 - 16.11620'} */
[qrypottperden.chal > 7.37759] [qrypottperden.chal <= 16.1162] {
  mark: symbol(circle);
  mark-size: 18px;
}
[qrypottperden.chal > 7.37759] [qrypottperden.chal <= 16.1162] :mark {
  fill: #993266;
}

