/* LAYER NAME level260_other_agricultural_structure */
/* CLASSIFIER INFO {'value': 'OS', 'label': 'OS'} */
[type = "OS"] {
  mark: symbol(circle);
  mark-size: 6px;
}
[type = "OS"] :mark {
  fill: #0000ff;
}

