/* LAYER NAME level173_harzburgite */
/* CLASSIFIER INFO {'value': '0.05471', 'label': '0.05471'} */
[qrylithmatden.har = "0.05471"] {
  fill: #99cccc;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '0.28185', 'lower': '0.05471', 'equality': 'upper', 'label': '0.05472 - 0.28185'} */
[qrylithmatden.har > 0.05471] [qrylithmatden.har <= 0.28185] {
  fill: #000033;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'value': '0.05471', 'label': '0.05471'} */
[qrylithmatden.har = "0.05471"] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '0.28185', 'lower': '0.05471', 'equality': 'upper', 'label': '0.05472 - 0.28185'} */
[qrylithmatden.har > 0.05471] [qrylithmatden.har <= 0.28185] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

