/* LAYER NAME level135_self_slipped */
/* CLASSIFIER INFO {'upper': '4.4421', 'lower': '0.02709', 'equality': 'upper', 'label': '0.02709 - 4.44210'} */
[qrypottfabden.ss > 0.02709] [qrypottfabden.ss <= 4.4421] {
  fill: #cc99cc;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '12.07079', 'lower': '4.4421', 'equality': 'upper', 'label': '4.44211 - 12.07079'} */
[qrypottfabden.ss > 4.4421] [qrypottfabden.ss <= 12.07079] {
  fill: #cc66cc;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '27.33142', 'lower': '12.07079', 'equality': 'upper', 'label': '12.07080 - 27.33142'} */
[qrypottfabden.ss > 12.07079] [qrypottfabden.ss <= 27.33142] {
  fill: #996799;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '54.8043', 'lower': '27.33142', 'equality': 'upper', 'label': '27.33143 - 54.80430'} */
[qrypottfabden.ss > 27.33142] [qrypottfabden.ss <= 54.8043] {
  fill: #993266;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '114.59809', 'lower': '54.8043', 'equality': 'upper', 'label': '54.80431 - 114.59809'} */
[qrypottfabden.ss > 54.8043] [qrypottfabden.ss <= 114.59809] {
  fill: #660000;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '209.90223', 'lower': '114.59809', 'equality': 'upper', 'label': '114.59810 - 209.90223'} */
[qrypottfabden.ss > 114.59809] [qrypottfabden.ss <= 209.90223] {
  fill: #330000;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '4.4421', 'lower': '0.02709', 'equality': 'upper', 'label': '0.02709 - 4.44210'} */
[qrypottfabden.ss > 0.02709] [qrypottfabden.ss <= 4.4421] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '12.07079', 'lower': '4.4421', 'equality': 'upper', 'label': '4.44211 - 12.07079'} */
[qrypottfabden.ss > 4.4421] [qrypottfabden.ss <= 12.07079] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '27.33142', 'lower': '12.07079', 'equality': 'upper', 'label': '12.07080 - 27.33142'} */
[qrypottfabden.ss > 12.07079] [qrypottfabden.ss <= 27.33142] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '54.8043', 'lower': '27.33142', 'equality': 'upper', 'label': '27.33143 - 54.80430'} */
[qrypottfabden.ss > 27.33142] [qrypottfabden.ss <= 54.8043] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '114.59809', 'lower': '54.8043', 'equality': 'upper', 'label': '54.80431 - 114.59809'} */
[qrypottfabden.ss > 54.8043] [qrypottfabden.ss <= 114.59809] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '209.90223', 'lower': '114.59809', 'equality': 'upper', 'label': '114.59810 - 209.90223'} */
[qrypottfabden.ss > 114.59809] [qrypottfabden.ss <= 209.90223] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

