/* LAYER NAME level134_mixed */
/* CLASSIFIER INFO {'upper': '3.07957', 'lower': '0.02709', 'equality': 'upper', 'label': '0.02709 - 3.07957'} */
[qryPottFabDen.M > 0.02709] [qryPottFabDen.M <= 3.07957] {
  fill: #cc99cc;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '8.45719', 'lower': '3.07957', 'equality': 'upper', 'label': '3.07958 - 8.45719'} */
[qryPottFabDen.M > 3.07957] [qryPottFabDen.M <= 8.45719] {
  fill: #cc66cc;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '17.45305', 'lower': '8.45719', 'equality': 'upper', 'label': '8.45720 - 17.45305'} */
[qryPottFabDen.M > 8.45719] [qryPottFabDen.M <= 17.45305] {
  fill: #996799;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '35.31404', 'lower': '17.45305', 'equality': 'upper', 'label': '17.45306 - 35.31404'} */
[qryPottFabDen.M > 17.45305] [qryPottFabDen.M <= 35.31404] {
  fill: #993266;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '63.87239', 'lower': '35.31404', 'equality': 'upper', 'label': '35.31405 - 63.87239'} */
[qryPottFabDen.M > 35.31404] [qryPottFabDen.M <= 63.87239] {
  fill: #660000;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '99.70336', 'lower': '63.87239', 'equality': 'upper', 'label': '63.87240 - 99.70336'} */
[qryPottFabDen.M > 63.87239] [qryPottFabDen.M <= 99.70336] {
  fill: #330000;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '3.07957', 'lower': '0.02709', 'equality': 'upper', 'label': '0.02709 - 3.07957'} */
[qryPottFabDen.M > 0.02709] [qryPottFabDen.M <= 3.07957] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '8.45719', 'lower': '3.07957', 'equality': 'upper', 'label': '3.07958 - 8.45719'} */
[qryPottFabDen.M > 3.07957] [qryPottFabDen.M <= 8.45719] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '17.45305', 'lower': '8.45719', 'equality': 'upper', 'label': '8.45720 - 17.45305'} */
[qryPottFabDen.M > 8.45719] [qryPottFabDen.M <= 17.45305] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '35.31404', 'lower': '17.45305', 'equality': 'upper', 'label': '17.45306 - 35.31404'} */
[qryPottFabDen.M > 17.45305] [qryPottFabDen.M <= 35.31404] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '63.87239', 'lower': '35.31404', 'equality': 'upper', 'label': '35.31405 - 63.87239'} */
[qryPottFabDen.M > 35.31404] [qryPottFabDen.M <= 63.87239] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '99.70336', 'lower': '63.87239', 'equality': 'upper', 'label': '63.87240 - 99.70336'} */
[qryPottFabDen.M > 63.87239] [qryPottFabDen.M <= 99.70336] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

