/* LAYER NAME level227_settlement */
/* CLASSIFIER INFO {'value': '1', 'label': '1'} */
[tblposirec.settchk = "1"] {
  mark: symbol(circle);
  mark-size: 8px;
}
[tblposirec.settchk = "1"] :mark {
  fill: #ff0000;
}

