/* LAYER NAME level197_dhoukani */
* {
  fill: #d4cfc7;
  stroke: #d4cfc7;
  stroke-width: 1px;
}
/* CLASSIFIER INFO {'value': '1', 'label': '1.00000'} */
[qrychiptoolcounts.dho = "1"] {
  mark: symbol(circle);
  mark-size: 6px;
}
[qrychiptoolcounts.dho = "1"] :mark {
  fill: #336699;
}

/* CLASSIFIER INFO {'upper': '2', 'lower': '1', 'equality': 'upper', 'label': '1.00001 - 2.00000'} */
[qrychiptoolcounts.dho > 1] [qrychiptoolcounts.dho <= 2] {
  mark: symbol(circle);
  mark-size: 10px;
}
[qrychiptoolcounts.dho > 1] [qrychiptoolcounts.dho <= 2] :mark {
  fill: #336699;
}

/* CLASSIFIER INFO {'upper': '3', 'lower': '2', 'equality': 'upper', 'label': '2.00001 - 3.00000'} */
[qrychiptoolcounts.dho > 2] [qrychiptoolcounts.dho <= 3] {
  mark: symbol(circle);
  mark-size: 14px;
}
[qrychiptoolcounts.dho > 2] [qrychiptoolcounts.dho <= 3] :mark {
  fill: #336699;
}

/* CLASSIFIER INFO {'upper': '5', 'lower': '3', 'equality': 'upper', 'label': '3.00001 - 5.00000'} */
[qrychiptoolcounts.dho > 3] [qrychiptoolcounts.dho <= 5] {
  mark: symbol(circle);
  mark-size: 18px;
}
[qrychiptoolcounts.dho > 3] [qrychiptoolcounts.dho <= 5] :mark {
  fill: #336699;
}

