/* LAYER NAME level38_byz_to_medieval_ad12th_to_13th_cen */
* {
  fill: #d4cfc7;
  stroke: #d4cfc7;
  stroke-width: 1px;
}
/* CLASSIFIER INFO {'value': '0.12119', 'label': '0.12119'} */
[qrypottperden.medb = "0.12119"] {
  mark: symbol(circle);
  mark-size: 6px;
}
[qrypottperden.medb = "0.12119"] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '0.3973', 'lower': '0.12119', 'equality': 'upper', 'label': '0.12120 - 0.39730'} */
[qrypottperden.medb > 0.12119] [qrypottperden.medb <= 0.3973] {
  mark: symbol(circle);
  mark-size: 8px;
}
[qrypottperden.medb > 0.12119] [qrypottperden.medb <= 0.3973] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '0.58358', 'lower': '0.3973', 'equality': 'upper', 'label': '0.39731 - 0.58358'} */
[qrypottperden.medb > 0.3973] [qrypottperden.medb <= 0.58358] {
  mark: symbol(circle);
  mark-size: 11px;
}
[qrypottperden.medb > 0.3973] [qrypottperden.medb <= 0.58358] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '0.93438', 'lower': '0.58358', 'equality': 'upper', 'label': '0.58359 - 0.93438'} */
[qrypottperden.medb > 0.58358] [qrypottperden.medb <= 0.93438] {
  mark: symbol(circle);
  mark-size: 13px;
}
[qrypottperden.medb > 0.58358] [qrypottperden.medb <= 0.93438] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '1.22832', 'lower': '0.93438', 'equality': 'upper', 'label': '0.93439 - 1.22832'} */
[qrypottperden.medb > 0.93438] [qrypottperden.medb <= 1.22832] {
  mark: symbol(circle);
  mark-size: 16px;
}
[qrypottperden.medb > 0.93438] [qrypottperden.medb <= 1.22832] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '2.5999', 'lower': '1.22832', 'equality': 'upper', 'label': '1.22833 - 2.59990'} */
[qrypottperden.medb > 1.22832] [qrypottperden.medb <= 2.5999] {
  mark: symbol(circle);
  mark-size: 18px;
}
[qrypottperden.medb > 1.22832] [qrypottperden.medb <= 2.5999] :mark {
  fill: #993266;
}

