/* LAYER NAME level183_obsidian */
/* CLASSIFIER INFO {'value': '0.24634', 'label': '0.24634'} */
[qryLithMatDen.OBS = "0.24634"] {
  fill: #99cccc;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'value': '0.24634', 'label': '0.24634'} */
[qryLithMatDen.OBS = "0.24634"] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

