/* LAYER NAME level103_heavy_utility */
* {
  fill: #d4cfc7;
  stroke: #d4cfc7;
  stroke-width: 1px;
}
/* CLASSIFIER INFO {'upper': '0.236160803311545', 'lower': '8.67498960927854E-02', 'equality': 'upper', 'label': '0.086749896 - 0.236160803'} */
[qryIVFUNCIA.HU_IV > 8.67498960927854E-02] [qryIVFUNCIA.HU_IV <= 0.236160803311545] {
  mark: symbol(circle);
  mark-size: 6px;
}
[qryIVFUNCIA.HU_IV > 8.67498960927854E-02] [qryIVFUNCIA.HU_IV <= 0.236160803311545] :mark {
  fill: #996799;
}

/* CLASSIFIER INFO {'upper': '0.460805276809145', 'lower': '0.236160803311545', 'equality': 'upper', 'label': '0.236160804 - 0.460805277'} */
[qryIVFUNCIA.HU_IV > 0.236160803311545] [qryIVFUNCIA.HU_IV <= 0.460805276809145] {
  mark: symbol(circle);
  mark-size: 9px;
}
[qryIVFUNCIA.HU_IV > 0.236160803311545] [qryIVFUNCIA.HU_IV <= 0.460805276809145] :mark {
  fill: #996799;
}

/* CLASSIFIER INFO {'upper': '0.644205453056203', 'lower': '0.460805276809145', 'equality': 'upper', 'label': '0.460805278 - 0.644205453'} */
[qryIVFUNCIA.HU_IV > 0.460805276809145] [qryIVFUNCIA.HU_IV <= 0.644205453056203] {
  mark: symbol(circle);
  mark-size: 12px;
}
[qryIVFUNCIA.HU_IV > 0.460805276809145] [qryIVFUNCIA.HU_IV <= 0.644205453056203] :mark {
  fill: #996799;
}

/* CLASSIFIER INFO {'upper': '0.934389280582751', 'lower': '0.644205453056203', 'equality': 'upper', 'label': '0.644205454 - 0.934389281'} */
[qryIVFUNCIA.HU_IV > 0.644205453056203] [qryIVFUNCIA.HU_IV <= 0.934389280582751] {
  mark: symbol(circle);
  mark-size: 14px;
}
[qryIVFUNCIA.HU_IV > 0.644205453056203] [qryIVFUNCIA.HU_IV <= 0.934389280582751] :mark {
  fill: #996799;
}

/* CLASSIFIER INFO {'upper': '1.46865994341943', 'lower': '0.934389280582751', 'equality': 'upper', 'label': '0.934389282 - 1.46865994'} */
[qryIVFUNCIA.HU_IV > 0.934389280582751] [qryIVFUNCIA.HU_IV <= 1.46865994341943] {
  mark: symbol(circle);
  mark-size: 17px;
}
[qryIVFUNCIA.HU_IV > 0.934389280582751] [qryIVFUNCIA.HU_IV <= 1.46865994341943] :mark {
  fill: #996799;
}

/* CLASSIFIER INFO {'upper': '3.18509668901568', 'lower': '1.46865994341943', 'equality': 'upper', 'label': '1.46865995 - 3.18509669'} */
[qryIVFUNCIA.HU_IV > 1.46865994341943] [qryIVFUNCIA.HU_IV <= 3.18509668901568] {
  mark: symbol(circle);
  mark-size: 20px;
}
[qryIVFUNCIA.HU_IV > 1.46865994341943] [qryIVFUNCIA.HU_IV <= 3.18509668901568] :mark {
  fill: #996799;
}

