/* LAYER NAME level231_check_dam */
/* CLASSIFIER INFO {'value': '1', 'label': '1'} */
[tblPOSIRec.CHDMCHK = "1"] {
  mark: symbol(circle);
  mark-size: 8px;
}
[tblPOSIRec.CHDMCHK = "1"] :mark {
  fill: #ff0000;
}

