/* LAYER NAME level219_soil_texture */
/* CLASSIFIER INFO {'value': 'C', 'label': 'C'} */
[tblGUF.SOILTEXT = "C"] {
  fill: #cccc99;
  stroke: #d4d0c8;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'value': 'SCL', 'label': 'SCL'} */
[tblGUF.SOILTEXT = "SCL"] {
  fill: #cccc66;
  stroke: #d4d0c8;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'value': 'CL', 'label': 'CL'} */
[tblGUF.SOILTEXT = "CL"] {
  fill: #999967;
  stroke: #d4d0c8;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'value': 'SiCL', 'label': 'SiCL'} */
[tblGUF.SOILTEXT = "SiCL"] {
  fill: #669932;
  stroke: #d4d0c8;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'value': 'SiL', 'label': 'SiL'} */
[tblGUF.SOILTEXT = "SiL"] {
  fill: #006600;
  stroke: #d4d0c8;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'value': 'SL', 'label': 'SL'} */
[tblGUF.SOILTEXT = "SL"] {
  fill: #003300;
  stroke: #d4d0c8;
  stroke-width: 1px;
}

