/* LAYER NAME level196_utilised_circles */
* {
  fill: #d4cfc7;
  stroke: #d4cfc7;
  stroke-width: 1px;
}
/* CLASSIFIER INFO {'upper': '0.08615', 'lower': '0.02232', 'equality': 'upper', 'label': '0.02232 - 0.08615'} */
[qrychiptoolden.uti > 0.02232] [qrychiptoolden.uti <= 0.08615] {
  mark: symbol(circle);
  mark-size: 6px;
}
[qrychiptoolden.uti > 0.02232] [qrychiptoolden.uti <= 0.08615] :mark {
  fill: #336699;
}

/* CLASSIFIER INFO {'upper': '0.16645', 'lower': '0.08615', 'equality': 'upper', 'label': '0.08616 - 0.16645'} */
[qrychiptoolden.uti > 0.08615] [qrychiptoolden.uti <= 0.16645] {
  mark: symbol(circle);
  mark-size: 8px;
}
[qrychiptoolden.uti > 0.08615] [qrychiptoolden.uti <= 0.16645] :mark {
  fill: #336699;
}

/* CLASSIFIER INFO {'upper': '0.28357', 'lower': '0.16645', 'equality': 'upper', 'label': '0.16646 - 0.28357'} */
[qrychiptoolden.uti > 0.16645] [qrychiptoolden.uti <= 0.28357] {
  mark: symbol(circle);
  mark-size: 11px;
}
[qrychiptoolden.uti > 0.16645] [qrychiptoolden.uti <= 0.28357] :mark {
  fill: #336699;
}

/* CLASSIFIER INFO {'upper': '0.43334', 'lower': '0.28357', 'equality': 'upper', 'label': '0.28358 - 0.43334'} */
[qrychiptoolden.uti > 0.28357] [qrychiptoolden.uti <= 0.43334] {
  mark: symbol(circle);
  mark-size: 13px;
}
[qrychiptoolden.uti > 0.28357] [qrychiptoolden.uti <= 0.43334] :mark {
  fill: #336699;
}

/* CLASSIFIER INFO {'upper': '0.63972', 'lower': '0.43334', 'equality': 'upper', 'label': '0.43335 - 0.63972'} */
[qrychiptoolden.uti > 0.43334] [qrychiptoolden.uti <= 0.63972] {
  mark: symbol(circle);
  mark-size: 16px;
}
[qrychiptoolden.uti > 0.43334] [qrychiptoolden.uti <= 0.63972] :mark {
  fill: #336699;
}

/* CLASSIFIER INFO {'upper': '0.98188', 'lower': '0.63972', 'equality': 'upper', 'label': '0.63973 - 0.98188'} */
[qrychiptoolden.uti > 0.63972] [qrychiptoolden.uti <= 0.98188] {
  mark: symbol(circle);
  mark-size: 18px;
}
[qrychiptoolden.uti > 0.63972] [qrychiptoolden.uti <= 0.98188] :mark {
  fill: #336699;
}

