/* LAYER NAME level108_transport */
* {
  fill: #d4cfc7;
  stroke: #d4cfc7;
  stroke-width: 1px;
}
/* CLASSIFIER INFO {'upper': '1.04356', 'lower': '0.05791', 'equality': 'upper', 'label': '0.05791 - 1.04356'} */
[qryPottFctHelRomDen.TR > 0.05791] [qryPottFctHelRomDen.TR <= 1.04356] {
  mark: symbol(circle);
  mark-size: 6px;
}
[qryPottFctHelRomDen.TR > 0.05791] [qryPottFctHelRomDen.TR <= 1.04356] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '2.62841', 'lower': '1.04356', 'equality': 'upper', 'label': '1.04357 - 2.62841'} */
[qryPottFctHelRomDen.TR > 1.04356] [qryPottFctHelRomDen.TR <= 2.62841] {
  mark: symbol(circle);
  mark-size: 8px;
}
[qryPottFctHelRomDen.TR > 1.04356] [qryPottFctHelRomDen.TR <= 2.62841] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '6.17082', 'lower': '2.62841', 'equality': 'upper', 'label': '2.62842 - 6.17082'} */
[qryPottFctHelRomDen.TR > 2.62841] [qryPottFctHelRomDen.TR <= 6.17082] {
  mark: symbol(circle);
  mark-size: 11px;
}
[qryPottFctHelRomDen.TR > 2.62841] [qryPottFctHelRomDen.TR <= 6.17082] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '11.67736', 'lower': '6.17082', 'equality': 'upper', 'label': '6.17083 - 11.67736'} */
[qryPottFctHelRomDen.TR > 6.17082] [qryPottFctHelRomDen.TR <= 11.67736] {
  mark: symbol(circle);
  mark-size: 13px;
}
[qryPottFctHelRomDen.TR > 6.17082] [qryPottFctHelRomDen.TR <= 11.67736] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '27.50555', 'lower': '11.67736', 'equality': 'upper', 'label': '11.67737 - 27.50555'} */
[qryPottFctHelRomDen.TR > 11.67736] [qryPottFctHelRomDen.TR <= 27.50555] {
  mark: symbol(circle);
  mark-size: 16px;
}
[qryPottFctHelRomDen.TR > 11.67736] [qryPottFctHelRomDen.TR <= 27.50555] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '48.97719', 'lower': '27.50555', 'equality': 'upper', 'label': '27.50556 - 48.97719'} */
[qryPottFctHelRomDen.TR > 27.50555] [qryPottFctHelRomDen.TR <= 48.97719] {
  mark: symbol(circle);
  mark-size: 18px;
}
[qryPottFctHelRomDen.TR > 27.50555] [qryPottFctHelRomDen.TR <= 48.97719] :mark {
  fill: #993266;
}

