/* LAYER NAME level64_classical_hellanistic_475_to_31bc */
/* CLASSIFIER INFO {'upper': '0.18833', 'lower': '0.07064', 'equality': 'upper', 'label': '0.07064 - 0.18833'} */
[qryPottPerDen.CLH > 0.07064] [qryPottPerDen.CLH <= 0.18833] {
  fill: #cc99cc;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '0.32218', 'lower': '0.18833', 'equality': 'upper', 'label': '0.18834 - 0.32218'} */
[qryPottPerDen.CLH > 0.18833] [qryPottPerDen.CLH <= 0.32218] {
  fill: #cc66cc;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '0.45463', 'lower': '0.32218', 'equality': 'upper', 'label': '0.32219 - 0.45463'} */
[qryPottPerDen.CLH > 0.32218] [qryPottPerDen.CLH <= 0.45463] {
  fill: #996799;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '0.58625', 'lower': '0.45463', 'equality': 'upper', 'label': '0.45464 - 0.58625'} */
[qryPottPerDen.CLH > 0.45463] [qryPottPerDen.CLH <= 0.58625] {
  fill: #993266;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '0.71628', 'lower': '0.58625', 'equality': 'upper', 'label': '0.58626 - 0.71628'} */
[qryPottPerDen.CLH > 0.58625] [qryPottPerDen.CLH <= 0.71628] {
  fill: #660000;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '0.94178', 'lower': '0.71628', 'equality': 'upper', 'label': '0.71629 - 0.94178'} */
[qryPottPerDen.CLH > 0.71628] [qryPottPerDen.CLH <= 0.94178] {
  fill: #330000;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '0.18833', 'lower': '0.07064', 'equality': 'upper', 'label': '0.07064 - 0.18833'} */
[qryPottPerDen.CLH > 0.07064] [qryPottPerDen.CLH <= 0.18833] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '0.32218', 'lower': '0.18833', 'equality': 'upper', 'label': '0.18834 - 0.32218'} */
[qryPottPerDen.CLH > 0.18833] [qryPottPerDen.CLH <= 0.32218] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '0.45463', 'lower': '0.32218', 'equality': 'upper', 'label': '0.32219 - 0.45463'} */
[qryPottPerDen.CLH > 0.32218] [qryPottPerDen.CLH <= 0.45463] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '0.58625', 'lower': '0.45463', 'equality': 'upper', 'label': '0.45464 - 0.58625'} */
[qryPottPerDen.CLH > 0.45463] [qryPottPerDen.CLH <= 0.58625] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '0.71628', 'lower': '0.58625', 'equality': 'upper', 'label': '0.58626 - 0.71628'} */
[qryPottPerDen.CLH > 0.58625] [qryPottPerDen.CLH <= 0.71628] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '0.94178', 'lower': '0.71628', 'equality': 'upper', 'label': '0.71629 - 0.94178'} */
[qryPottPerDen.CLH > 0.71628] [qryPottPerDen.CLH <= 0.94178] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

