/* LAYER NAME level179_mamonina */
/* CLASSIFIER INFO {'value': '0.19388', 'label': '0.19388'} */
[qryLithMatDen.MAM = "0.19388"] {
  fill: #99cccc;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'value': '0.19388', 'label': '0.19388'} */
[qryLithMatDen.MAM = "0.19388"] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

