/* LAYER NAME level142_debris */
* {
  fill: #d4cfc7;
  stroke: #d4cfc7;
  stroke-width: 1px;
}
/* CLASSIFIER INFO {'upper': '0.15891', 'lower': '0.03051', 'equality': 'upper', 'label': '0.03051 - 0.15891'} */
[qrychipcobldeden.de > 0.03051] [qrychipcobldeden.de <= 0.15891] {
  mark: symbol(circle);
  mark-size: 4px;
}
[qrychipcobldeden.de > 0.03051] [qrychipcobldeden.de <= 0.15891] :mark {
  fill: #336699;
}

/* CLASSIFIER INFO {'upper': '0.34548', 'lower': '0.15891', 'equality': 'upper', 'label': '0.15892 - 0.34548'} */
[qrychipcobldeden.de > 0.15891] [qrychipcobldeden.de <= 0.34548] {
  mark: symbol(circle);
  mark-size: 7px;
}
[qrychipcobldeden.de > 0.15891] [qrychipcobldeden.de <= 0.34548] :mark {
  fill: #336699;
}

/* CLASSIFIER INFO {'upper': '0.60128', 'lower': '0.34548', 'equality': 'upper', 'label': '0.34549 - 0.60128'} */
[qrychipcobldeden.de > 0.34548] [qrychipcobldeden.de <= 0.60128] {
  mark: symbol(circle);
  mark-size: 10px;
}
[qrychipcobldeden.de > 0.34548] [qrychipcobldeden.de <= 0.60128] :mark {
  fill: #336699;
}

/* CLASSIFIER INFO {'upper': '1.02397', 'lower': '0.60128', 'equality': 'upper', 'label': '0.60129 - 1.02397'} */
[qrychipcobldeden.de > 0.60128] [qrychipcobldeden.de <= 1.02397] {
  mark: symbol(circle);
  mark-size: 12px;
}
[qrychipcobldeden.de > 0.60128] [qrychipcobldeden.de <= 1.02397] :mark {
  fill: #336699;
}

/* CLASSIFIER INFO {'upper': '2.05442', 'lower': '1.02397', 'equality': 'upper', 'label': '1.02398 - 2.05442'} */
[qrychipcobldeden.de > 1.02397] [qrychipcobldeden.de <= 2.05442] {
  mark: symbol(circle);
  mark-size: 15px;
}
[qrychipcobldeden.de > 1.02397] [qrychipcobldeden.de <= 2.05442] :mark {
  fill: #336699;
}

/* CLASSIFIER INFO {'upper': '3.8064', 'lower': '2.05442', 'equality': 'upper', 'label': '2.05443 - 3.80640'} */
[qrychipcobldeden.de > 2.05442] [qrychipcobldeden.de <= 3.8064] {
  mark: symbol(circle);
  mark-size: 18px;
}
[qrychipcobldeden.de > 2.05442] [qrychipcobldeden.de <= 3.8064] :mark {
  fill: #336699;
}

