/* LAYER NAME level127_calcareous */
* {
  fill: #d4cfc7;
  stroke: #d4cfc7;
  stroke-width: 1px;
}
/* CLASSIFIER INFO {'upper': '0.76782', 'lower': '0.05933', 'equality': 'upper', 'label': '0.05933 - 0.76782'} */
[qrypottfabden.c > 0.05933] [qrypottfabden.c <= 0.76782] {
  mark: symbol(circle);
  mark-size: 6px;
}
[qrypottfabden.c > 0.05933] [qrypottfabden.c <= 0.76782] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '1.92699', 'lower': '0.76782', 'equality': 'upper', 'label': '0.76783 - 1.92699'} */
[qrypottfabden.c > 0.76782] [qrypottfabden.c <= 1.92699] {
  mark: symbol(circle);
  mark-size: 8px;
}
[qrypottfabden.c > 0.76782] [qrypottfabden.c <= 1.92699] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '3.94486', 'lower': '1.92699', 'equality': 'upper', 'label': '1.92700 - 3.94486'} */
[qrypottfabden.c > 1.92699] [qrypottfabden.c <= 3.94486] {
  mark: symbol(circle);
  mark-size: 11px;
}
[qrypottfabden.c > 1.92699] [qrypottfabden.c <= 3.94486] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '7.45402', 'lower': '3.94486', 'equality': 'upper', 'label': '3.94487 - 7.45402'} */
[qrypottfabden.c > 3.94486] [qrypottfabden.c <= 7.45402] {
  mark: symbol(circle);
  mark-size: 13px;
}
[qrypottfabden.c > 3.94486] [qrypottfabden.c <= 7.45402] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '12.28315', 'lower': '7.45402', 'equality': 'upper', 'label': '7.45403 - 12.28315'} */
[qrypottfabden.c > 7.45402] [qrypottfabden.c <= 12.28315] {
  mark: symbol(circle);
  mark-size: 16px;
}
[qrypottfabden.c > 7.45402] [qrypottfabden.c <= 12.28315] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '22.23216', 'lower': '12.28315', 'equality': 'upper', 'label': '12.28316 - 22.23216'} */
[qrypottfabden.c > 12.28315] [qrypottfabden.c <= 22.23216] {
  mark: symbol(circle);
  mark-size: 18px;
}
[qrypottfabden.c > 12.28315] [qrypottfabden.c <= 22.23216] :mark {
  fill: #993266;
}

