/* LAYER NAME level214_cartridge_count */
* {
  fill: #d4cfc7;
  stroke: #d4cfc7;
  stroke-width: 1px;
}
/* CLASSIFIER INFO {'upper': '12', 'lower': '1', 'equality': 'upper', 'label': '1.00000 - 12.00000'} */
[qryCaCounts.CARTRIDGE > 1] [qryCaCounts.CARTRIDGE <= 12] {
  mark: symbol(circle);
  mark-size: 4px;
}
[qryCaCounts.CARTRIDGE > 1] [qryCaCounts.CARTRIDGE <= 12] :mark {
  fill: #336699;
}

/* CLASSIFIER INFO {'upper': '35', 'lower': '12', 'equality': 'upper', 'label': '12.00001 - 35.00000'} */
[qryCaCounts.CARTRIDGE > 12] [qryCaCounts.CARTRIDGE <= 35] {
  mark: symbol(circle);
  mark-size: 8px;
}
[qryCaCounts.CARTRIDGE > 12] [qryCaCounts.CARTRIDGE <= 35] :mark {
  fill: #336699;
}

/* CLASSIFIER INFO {'upper': '74', 'lower': '35', 'equality': 'upper', 'label': '35.00001 - 74.00000'} */
[qryCaCounts.CARTRIDGE > 35] [qryCaCounts.CARTRIDGE <= 74] {
  mark: symbol(circle);
  mark-size: 11px;
}
[qryCaCounts.CARTRIDGE > 35] [qryCaCounts.CARTRIDGE <= 74] :mark {
  fill: #336699;
}

/* CLASSIFIER INFO {'upper': '133', 'lower': '74', 'equality': 'upper', 'label': '74.00001 - 133.00000'} */
[qryCaCounts.CARTRIDGE > 74] [qryCaCounts.CARTRIDGE <= 133] {
  mark: symbol(circle);
  mark-size: 14px;
}
[qryCaCounts.CARTRIDGE > 74] [qryCaCounts.CARTRIDGE <= 133] :mark {
  fill: #336699;
}

/* CLASSIFIER INFO {'upper': '414', 'lower': '133', 'equality': 'upper', 'label': '133.00001 - 414.00000'} */
[qryCaCounts.CARTRIDGE > 133] [qryCaCounts.CARTRIDGE <= 414] {
  mark: symbol(circle);
  mark-size: 18px;
}
[qryCaCounts.CARTRIDGE > 133] [qryCaCounts.CARTRIDGE <= 414] :mark {
  fill: #336699;
}

