/* LAYER NAME level232_threshing_floors */
/* CLASSIFIER INFO {'value': '1', 'label': '1'} */
[tblposirec.tfchk = "1"] {
  mark: symbol(circle);
  mark-size: 8px;
}
[tblposirec.tfchk = "1"] :mark {
  fill: #ff0000;
}

