/* LAYER NAME level191_flaked_circles */
* {
  fill: #d4cfc7;
  stroke: #d4cfc7;
  stroke-width: 1px;
}
/* CLASSIFIER INFO {'upper': '0.10096', 'lower': '0.03051', 'equality': 'upper', 'label': '0.03051 - 0.10096'} */
[qryChipToolDen.FLA > 0.03051] [qryChipToolDen.FLA <= 0.10096] {
  mark: symbol(circle);
  mark-size: 6px;
}
[qryChipToolDen.FLA > 0.03051] [qryChipToolDen.FLA <= 0.10096] :mark {
  fill: #336699;
}

/* CLASSIFIER INFO {'upper': '0.18579', 'lower': '0.10096', 'equality': 'upper', 'label': '0.10097 - 0.18579'} */
[qryChipToolDen.FLA > 0.10096] [qryChipToolDen.FLA <= 0.18579] {
  mark: symbol(circle);
  mark-size: 8px;
}
[qryChipToolDen.FLA > 0.10096] [qryChipToolDen.FLA <= 0.18579] :mark {
  fill: #336699;
}

/* CLASSIFIER INFO {'upper': '0.28783', 'lower': '0.18579', 'equality': 'upper', 'label': '0.18580 - 0.28783'} */
[qryChipToolDen.FLA > 0.18579] [qryChipToolDen.FLA <= 0.28783] {
  mark: symbol(circle);
  mark-size: 11px;
}
[qryChipToolDen.FLA > 0.18579] [qryChipToolDen.FLA <= 0.28783] :mark {
  fill: #336699;
}

/* CLASSIFIER INFO {'upper': '0.43567', 'lower': '0.28783', 'equality': 'upper', 'label': '0.28784 - 0.43567'} */
[qryChipToolDen.FLA > 0.28783] [qryChipToolDen.FLA <= 0.43567] {
  mark: symbol(circle);
  mark-size: 13px;
}
[qryChipToolDen.FLA > 0.28783] [qryChipToolDen.FLA <= 0.43567] :mark {
  fill: #336699;
}

/* CLASSIFIER INFO {'upper': '0.71884', 'lower': '0.43567', 'equality': 'upper', 'label': '0.43568 - 0.71884'} */
[qryChipToolDen.FLA > 0.43567] [qryChipToolDen.FLA <= 0.71884] {
  mark: symbol(circle);
  mark-size: 16px;
}
[qryChipToolDen.FLA > 0.43567] [qryChipToolDen.FLA <= 0.71884] :mark {
  fill: #336699;
}

/* CLASSIFIER INFO {'upper': '1.42362', 'lower': '0.71884', 'equality': 'upper', 'label': '0.71885 - 1.42362'} */
[qryChipToolDen.FLA > 0.71884] [qryChipToolDen.FLA <= 1.42362] {
  mark: symbol(circle);
  mark-size: 18px;
}
[qryChipToolDen.FLA > 0.71884] [qryChipToolDen.FLA <= 1.42362] :mark {
  fill: #336699;
}

