/* LAYER NAME level50_all_hel_roman */
/* CLASSIFIER INFO {'upper': '7.24044', 'lower': '0.02232', 'equality': 'upper', 'label': '0.02232 - 7.24044'} */
[qryPottPerGroupDen.HELLENISTI > 0.02232] [qryPottPerGroupDen.HELLENISTI <= 7.24044] {
  fill: #cc99cc;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '26.7748', 'lower': '7.24044', 'equality': 'upper', 'label': '7.24045 - 26.77480'} */
[qryPottPerGroupDen.HELLENISTI > 7.24044] [qryPottPerGroupDen.HELLENISTI <= 26.7748] {
  fill: #cc66cc;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '71.11978', 'lower': '26.7748', 'equality': 'upper', 'label': '26.77481 - 71.11978'} */
[qryPottPerGroupDen.HELLENISTI > 26.7748] [qryPottPerGroupDen.HELLENISTI <= 71.11978] {
  fill: #996799;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '159.22782', 'lower': '71.11978', 'equality': 'upper', 'label': '71.11979 - 159.22782'} */
[qryPottPerGroupDen.HELLENISTI > 71.11978] [qryPottPerGroupDen.HELLENISTI <= 159.22782] {
  fill: #993266;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '293.86312', 'lower': '159.22782', 'equality': 'upper', 'label': '159.22783 - 293.86312'} */
[qryPottPerGroupDen.HELLENISTI > 159.22782] [qryPottPerGroupDen.HELLENISTI <= 293.86312] {
  fill: #660000;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '490.20817', 'lower': '293.86312', 'equality': 'upper', 'label': '293.86313 - 490.20817'} */
[qryPottPerGroupDen.HELLENISTI > 293.86312] [qryPottPerGroupDen.HELLENISTI <= 490.20817] {
  fill: #330000;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '7.24044', 'lower': '0.02232', 'equality': 'upper', 'label': '0.02232 - 7.24044'} */
[qryPottPerGroupDen.HELLENISTI > 0.02232] [qryPottPerGroupDen.HELLENISTI <= 7.24044] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '26.7748', 'lower': '7.24044', 'equality': 'upper', 'label': '7.24045 - 26.77480'} */
[qryPottPerGroupDen.HELLENISTI > 7.24044] [qryPottPerGroupDen.HELLENISTI <= 26.7748] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '71.11978', 'lower': '26.7748', 'equality': 'upper', 'label': '26.77481 - 71.11978'} */
[qryPottPerGroupDen.HELLENISTI > 26.7748] [qryPottPerGroupDen.HELLENISTI <= 71.11978] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '159.22782', 'lower': '71.11978', 'equality': 'upper', 'label': '71.11979 - 159.22782'} */
[qryPottPerGroupDen.HELLENISTI > 71.11978] [qryPottPerGroupDen.HELLENISTI <= 159.22782] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '293.86312', 'lower': '159.22782', 'equality': 'upper', 'label': '159.22783 - 293.86312'} */
[qryPottPerGroupDen.HELLENISTI > 159.22782] [qryPottPerGroupDen.HELLENISTI <= 293.86312] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '490.20817', 'lower': '293.86312', 'equality': 'upper', 'label': '293.86313 - 490.20817'} */
[qryPottPerGroupDen.HELLENISTI > 293.86312] [qryPottPerGroupDen.HELLENISTI <= 490.20817] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

