/* LAYER NAME level150_jasper */
* {
  fill: #d4cfc7;
  stroke: #d4cfc7;
  stroke-width: 1px;
}
/* CLASSIFIER INFO {'upper': '0.28322', 'lower': '0.03262', 'equality': 'upper', 'label': '0.03262 - 0.28322'} */
[qryLithMatDen.JAS > 0.03262] [qryLithMatDen.JAS <= 0.28322] {
  mark: symbol(circle);
  mark-size: 6px;
}
[qryLithMatDen.JAS > 0.03262] [qryLithMatDen.JAS <= 0.28322] :mark {
  fill: #336699;
}

/* CLASSIFIER INFO {'upper': '0.65011', 'lower': '0.28322', 'equality': 'upper', 'label': '0.28323 - 0.65011'} */
[qryLithMatDen.JAS > 0.28322] [qryLithMatDen.JAS <= 0.65011] {
  mark: symbol(circle);
  mark-size: 8px;
}
[qryLithMatDen.JAS > 0.28322] [qryLithMatDen.JAS <= 0.65011] :mark {
  fill: #336699;
}

/* CLASSIFIER INFO {'upper': '1.15368', 'lower': '0.65011', 'equality': 'upper', 'label': '0.65012 - 1.15368'} */
[qryLithMatDen.JAS > 0.65011] [qryLithMatDen.JAS <= 1.15368] {
  mark: symbol(circle);
  mark-size: 11px;
}
[qryLithMatDen.JAS > 0.65011] [qryLithMatDen.JAS <= 1.15368] :mark {
  fill: #336699;
}

/* CLASSIFIER INFO {'upper': '2.0905', 'lower': '1.15368', 'equality': 'upper', 'label': '1.15369 - 2.09050'} */
[qryLithMatDen.JAS > 1.15368] [qryLithMatDen.JAS <= 2.0905] {
  mark: symbol(circle);
  mark-size: 13px;
}
[qryLithMatDen.JAS > 1.15368] [qryLithMatDen.JAS <= 2.0905] :mark {
  fill: #336699;
}

/* CLASSIFIER INFO {'upper': '4.35017', 'lower': '2.0905', 'equality': 'upper', 'label': '2.09051 - 4.35017'} */
[qryLithMatDen.JAS > 2.0905] [qryLithMatDen.JAS <= 4.35017] {
  mark: symbol(circle);
  mark-size: 16px;
}
[qryLithMatDen.JAS > 2.0905] [qryLithMatDen.JAS <= 4.35017] :mark {
  fill: #336699;
}

/* CLASSIFIER INFO {'upper': '8.51022', 'lower': '4.35017', 'equality': 'upper', 'label': '4.35018 - 8.51022'} */
[qryLithMatDen.JAS > 4.35017] [qryLithMatDen.JAS <= 8.51022] {
  mark: symbol(circle);
  mark-size: 18px;
}
[qryLithMatDen.JAS > 4.35017] [qryLithMatDen.JAS <= 8.51022] :mark {
  fill: #336699;
}

