/* LAYER NAME level141_core */
* {
  fill: #d4cfc7;
  stroke: #d4cfc7;
  stroke-width: 1px;
}
/* CLASSIFIER INFO {'upper': '0.28348', 'lower': '0.03051', 'equality': 'upper', 'label': '0.03051 - 0.28348'} */
[qrychipcobldeden.co > 0.03051] [qrychipcobldeden.co <= 0.28348] {
  mark: symbol(circle);
  mark-size: 6px;
}
[qrychipcobldeden.co > 0.03051] [qrychipcobldeden.co <= 0.28348] :mark {
  fill: #336699;
}

/* CLASSIFIER INFO {'upper': '0.65159', 'lower': '0.28348', 'equality': 'upper', 'label': '0.28349 - 0.65159'} */
[qrychipcobldeden.co > 0.28348] [qrychipcobldeden.co <= 0.65159] {
  mark: symbol(circle);
  mark-size: 9px;
}
[qrychipcobldeden.co > 0.28348] [qrychipcobldeden.co <= 0.65159] :mark {
  fill: #336699;
}

/* CLASSIFIER INFO {'upper': '1.07827', 'lower': '0.65159', 'equality': 'upper', 'label': '0.65160 - 1.07827'} */
[qrychipcobldeden.co > 0.65159] [qrychipcobldeden.co <= 1.07827] {
  mark: symbol(circle);
  mark-size: 12px;
}
[qrychipcobldeden.co > 0.65159] [qrychipcobldeden.co <= 1.07827] :mark {
  fill: #336699;
}

/* CLASSIFIER INFO {'upper': '1.99708', 'lower': '1.07827', 'equality': 'upper', 'label': '1.07828 - 1.99708'} */
[qrychipcobldeden.co > 1.07827] [qrychipcobldeden.co <= 1.99708] {
  mark: symbol(circle);
  mark-size: 15px;
}
[qrychipcobldeden.co > 1.07827] [qrychipcobldeden.co <= 1.99708] :mark {
  fill: #336699;
}

/* CLASSIFIER INFO {'upper': '4.00481', 'lower': '1.99708', 'equality': 'upper', 'label': '1.99709 - 4.00481'} */
[qrychipcobldeden.co > 1.99708] [qrychipcobldeden.co <= 4.00481] {
  mark: symbol(circle);
  mark-size: 18px;
}
[qrychipcobldeden.co > 1.99708] [qrychipcobldeden.co <= 4.00481] :mark {
  fill: #336699;
}

