/* LAYER NAME level184_picrolite */
/* CLASSIFIER INFO {'value': '0.09216', 'label': '0.09216'} */
[qryLithMatDen.PIC = "0.09216"] {
  fill: #99cccc;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'value': '0.09216', 'label': '0.09216'} */
[qryLithMatDen.PIC = "0.09216"] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

