/* LAYER NAME level234_kiln */
/* CLASSIFIER INFO {'value': '1', 'label': '1'} */
[tblposirec.kilnchk = "1"] {
  mark: symbol(circle);
  mark-size: 8px;
}
[tblposirec.kilnchk = "1"] :mark {
  fill: #ff0000;
}

