/* LAYER NAME level213_cartridge_density_fill */
/* CLASSIFIER INFO {'upper': '1.59921', 'lower': '0.02709', 'equality': 'upper', 'label': '0.02709 - 1.59921'} */
[qrycaden.cartridge > 0.02709] [qrycaden.cartridge <= 1.59921] {
  fill: #99cccc;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '4.08169', 'lower': '1.59921', 'equality': 'upper', 'label': '1.59922 - 4.08169'} */
[qrycaden.cartridge > 1.59921] [qrycaden.cartridge <= 4.08169] {
  fill: #66cccc;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '7.43736', 'lower': '4.08169', 'equality': 'upper', 'label': '4.08170 - 7.43736'} */
[qrycaden.cartridge > 4.08169] [qrycaden.cartridge <= 7.43736] {
  fill: #669999;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '12.39746', 'lower': '7.43736', 'equality': 'upper', 'label': '7.43737 - 12.39746'} */
[qrycaden.cartridge > 7.43736] [qrycaden.cartridge <= 12.39746] {
  fill: #336699;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '22.5901', 'lower': '12.39746', 'equality': 'upper', 'label': '12.39747 - 22.59010'} */
[qrycaden.cartridge > 12.39746] [qrycaden.cartridge <= 22.5901] {
  fill: #000066;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '39.61484', 'lower': '22.5901', 'equality': 'upper', 'label': '22.59011 - 39.61484'} */
[qrycaden.cartridge > 22.5901] [qrycaden.cartridge <= 39.61484] {
  fill: #000033;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '1.59921', 'lower': '0.02709', 'equality': 'upper', 'label': '0.02709 - 1.59921'} */
[qrycaden.cartridge > 0.02709] [qrycaden.cartridge <= 1.59921] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '4.08169', 'lower': '1.59921', 'equality': 'upper', 'label': '1.59922 - 4.08169'} */
[qrycaden.cartridge > 1.59921] [qrycaden.cartridge <= 4.08169] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '7.43736', 'lower': '4.08169', 'equality': 'upper', 'label': '4.08170 - 7.43736'} */
[qrycaden.cartridge > 4.08169] [qrycaden.cartridge <= 7.43736] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '12.39746', 'lower': '7.43736', 'equality': 'upper', 'label': '7.43737 - 12.39746'} */
[qrycaden.cartridge > 7.43736] [qrycaden.cartridge <= 12.39746] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '22.5901', 'lower': '12.39746', 'equality': 'upper', 'label': '12.39747 - 22.59010'} */
[qrycaden.cartridge > 12.39746] [qrycaden.cartridge <= 22.5901] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '39.61484', 'lower': '22.5901', 'equality': 'upper', 'label': '22.59011 - 39.61484'} */
[qrycaden.cartridge > 22.5901] [qrycaden.cartridge <= 39.61484] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

