/* LAYER NAME level158_moni */
* {
  fill: #d4cfc7;
  stroke: #d4cfc7;
  stroke-width: 1px;
}
/* CLASSIFIER INFO {'value': '0.15983', 'label': '0.15983'} */
[qrylithmatden.mon = "0.15983"] {
  mark: symbol(circle);
  mark-size: 6px;
}
[qrylithmatden.mon = "0.15983"] :mark {
  fill: #336699;
}

/* CLASSIFIER INFO {'upper': '0.21186', 'lower': '0.15983', 'equality': 'upper', 'label': '0.15984 - 0.21186'} */
[qrylithmatden.mon > 0.15983] [qrylithmatden.mon <= 0.21186] {
  mark: symbol(circle);
  mark-size: 18px;
}
[qrylithmatden.mon > 0.15983] [qrylithmatden.mon <= 0.21186] :mark {
  fill: #336699;
}

