/* LAYER NAME level228_church */
/* CLASSIFIER INFO {'value': '1', 'label': '1'} */
[tblposirec.chchchk = "1"] {
  mark: symbol(circle);
  mark-size: 8px;
}
[tblposirec.chchchk = "1"] :mark {
  fill: #ff0000;
}

