/* LAYER NAME level239_road_path */
/* CLASSIFIER INFO {'value': '1', 'label': '1'} */
[tblposirec.roadchk = "1"] {
  mark: symbol(circle);
  mark-size: 8px;
}
[tblposirec.roadchk = "1"] :mark {
  fill: #ff0000;
}

