/* LAYER NAME level168_chalcedony */
/* CLASSIFIER INFO {'upper': '0.16645', 'lower': '0.04196', 'equality': 'upper', 'label': '0.04196 - 0.16645'} */
[qrylithmatden.cha > 0.04196] [qrylithmatden.cha <= 0.16645] {
  fill: #99cccc;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '0.32903', 'lower': '0.16645', 'equality': 'upper', 'label': '0.16646 - 0.32903'} */
[qrylithmatden.cha > 0.16645] [qrylithmatden.cha <= 0.32903] {
  fill: #66cccc;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '0.58682', 'lower': '0.32903', 'equality': 'upper', 'label': '0.32904 - 0.58682'} */
[qrylithmatden.cha > 0.32903] [qrylithmatden.cha <= 0.58682] {
  fill: #669999;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '1.10113', 'lower': '0.58682', 'equality': 'upper', 'label': '0.58683 - 1.10113'} */
[qrylithmatden.cha > 0.58682] [qrylithmatden.cha <= 1.10113] {
  fill: #336699;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '1.58666', 'lower': '1.10113', 'equality': 'upper', 'label': '1.10114 - 1.58666'} */
[qrylithmatden.cha > 1.10113] [qrylithmatden.cha <= 1.58666] {
  fill: #000066;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '7.82991', 'lower': '1.58666', 'equality': 'upper', 'label': '1.58667 - 7.82991'} */
[qrylithmatden.cha > 1.58666] [qrylithmatden.cha <= 7.82991] {
  fill: #000033;
  stroke: #000000;
  stroke-width: 1px;
}

/* CLASSIFIER INFO {'upper': '0.16645', 'lower': '0.04196', 'equality': 'upper', 'label': '0.04196 - 0.16645'} */
[qrylithmatden.cha > 0.04196] [qrylithmatden.cha <= 0.16645] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '0.32903', 'lower': '0.16645', 'equality': 'upper', 'label': '0.16646 - 0.32903'} */
[qrylithmatden.cha > 0.16645] [qrylithmatden.cha <= 0.32903] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '0.58682', 'lower': '0.32903', 'equality': 'upper', 'label': '0.32904 - 0.58682'} */
[qrylithmatden.cha > 0.32903] [qrylithmatden.cha <= 0.58682] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '1.10113', 'lower': '0.58682', 'equality': 'upper', 'label': '0.58683 - 1.10113'} */
[qrylithmatden.cha > 0.58682] [qrylithmatden.cha <= 1.10113] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '1.58666', 'lower': '1.10113', 'equality': 'upper', 'label': '1.10114 - 1.58666'} */
[qrylithmatden.cha > 1.10113] [qrylithmatden.cha <= 1.58666] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

/* CLASSIFIER INFO {'upper': '7.82991', 'lower': '1.58666', 'equality': 'upper', 'label': '1.58667 - 7.82991'} */
[qrylithmatden.cha > 1.58666] [qrylithmatden.cha <= 7.82991] {
  stroke: #d4cfc7;
  stroke-width: 1px;
  stroke-linecap: round;
}

