/* LAYER NAME level144_chalcedony */
* {
  fill: #d4cfc7;
  stroke: #d4cfc7;
  stroke-width: 1px;
}
/* CLASSIFIER INFO {'upper': '0.16645', 'lower': '0.04196', 'equality': 'upper', 'label': '0.04196 - 0.16645'} */
[qrylithmatden.cha > 0.04196] [qrylithmatden.cha <= 0.16645] {
  mark: symbol(circle);
  mark-size: 6px;
}
[qrylithmatden.cha > 0.04196] [qrylithmatden.cha <= 0.16645] :mark {
  fill: #336699;
}

/* CLASSIFIER INFO {'upper': '0.32903', 'lower': '0.16645', 'equality': 'upper', 'label': '0.16646 - 0.32903'} */
[qrylithmatden.cha > 0.16645] [qrylithmatden.cha <= 0.32903] {
  mark: symbol(circle);
  mark-size: 8px;
}
[qrylithmatden.cha > 0.16645] [qrylithmatden.cha <= 0.32903] :mark {
  fill: #336699;
}

/* CLASSIFIER INFO {'upper': '0.58682', 'lower': '0.32903', 'equality': 'upper', 'label': '0.32904 - 0.58682'} */
[qrylithmatden.cha > 0.32903] [qrylithmatden.cha <= 0.58682] {
  mark: symbol(circle);
  mark-size: 11px;
}
[qrylithmatden.cha > 0.32903] [qrylithmatden.cha <= 0.58682] :mark {
  fill: #336699;
}

/* CLASSIFIER INFO {'upper': '1.10113', 'lower': '0.58682', 'equality': 'upper', 'label': '0.58683 - 1.10113'} */
[qrylithmatden.cha > 0.58682] [qrylithmatden.cha <= 1.10113] {
  mark: symbol(circle);
  mark-size: 13px;
}
[qrylithmatden.cha > 0.58682] [qrylithmatden.cha <= 1.10113] :mark {
  fill: #336699;
}

/* CLASSIFIER INFO {'upper': '1.58666', 'lower': '1.10113', 'equality': 'upper', 'label': '1.10114 - 1.58666'} */
[qrylithmatden.cha > 1.10113] [qrylithmatden.cha <= 1.58666] {
  mark: symbol(circle);
  mark-size: 16px;
}
[qrylithmatden.cha > 1.10113] [qrylithmatden.cha <= 1.58666] :mark {
  fill: #336699;
}

/* CLASSIFIER INFO {'upper': '7.82991', 'lower': '1.58666', 'equality': 'upper', 'label': '1.58667 - 7.82991'} */
[qrylithmatden.cha > 1.58666] [qrylithmatden.cha <= 7.82991] {
  mark: symbol(circle);
  mark-size: 18px;
}
[qrylithmatden.cha > 1.58666] [qrylithmatden.cha <= 7.82991] :mark {
  fill: #336699;
}

