/* LAYER NAME level237_mine_adit */
/* CLASSIFIER INFO {'value': '1', 'label': '1'} */
[tblPOSIRec.MINECHK = "1"] {
  mark: symbol(circle);
  mark-size: 8px;
}
[tblPOSIRec.MINECHK = "1"] :mark {
  fill: #ff0000;
}

