/* LAYER NAME level125_utility */
* {
  fill: #d4cfc7;
  stroke: #d4cfc7;
  stroke-width: 1px;
}
/* CLASSIFIER INFO {'upper': '0.71994', 'lower': '0.06032', 'equality': 'upper', 'label': '0.06032 - 0.71994'} */
[qrypotfctden.u > 0.06032] [qrypotfctden.u <= 0.71994] {
  mark: symbol(circle);
  mark-size: 6px;
}
[qrypotfctden.u > 0.06032] [qrypotfctden.u <= 0.71994] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '1.94234', 'lower': '0.71994', 'equality': 'upper', 'label': '0.71995 - 1.94234'} */
[qrypotfctden.u > 0.71994] [qrypotfctden.u <= 1.94234] {
  mark: symbol(circle);
  mark-size: 8px;
}
[qrypotfctden.u > 0.71994] [qrypotfctden.u <= 1.94234] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '3.73754', 'lower': '1.94234', 'equality': 'upper', 'label': '1.94235 - 3.73754'} */
[qrypotfctden.u > 1.94234] [qrypotfctden.u <= 3.73754] {
  mark: symbol(circle);
  mark-size: 11px;
}
[qrypotfctden.u > 1.94234] [qrypotfctden.u <= 3.73754] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '6.74024', 'lower': '3.73754', 'equality': 'upper', 'label': '3.73755 - 6.74024'} */
[qrypotfctden.u > 3.73754] [qrypotfctden.u <= 6.74024] {
  mark: symbol(circle);
  mark-size: 13px;
}
[qrypotfctden.u > 3.73754] [qrypotfctden.u <= 6.74024] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '11.96805', 'lower': '6.74024', 'equality': 'upper', 'label': '6.74025 - 11.96805'} */
[qrypotfctden.u > 6.74024] [qrypotfctden.u <= 11.96805] {
  mark: symbol(circle);
  mark-size: 16px;
}
[qrypotfctden.u > 6.74024] [qrypotfctden.u <= 11.96805] :mark {
  fill: #993266;
}

/* CLASSIFIER INFO {'upper': '19.85255', 'lower': '11.96805', 'equality': 'upper', 'label': '11.96806 - 19.85255'} */
[qrypotfctden.u > 11.96805] [qrypotfctden.u <= 19.85255] {
  mark: symbol(circle);
  mark-size: 18px;
}
[qrypotfctden.u > 11.96805] [qrypotfctden.u <= 19.85255] :mark {
  fill: #993266;
}

