/* LAYER NAME level250_shrine_sanctuary */
/* CLASSIFIER INFO {'value': '1', 'label': '1'} */
[tblPOSIRec.SHRICHK = "1"] {
  mark: symbol(circle);
  mark-size: 8px;
}
[tblPOSIRec.SHRICHK = "1"] :mark {
  fill: #ff0000;
}

