/* LAYER NAME level243_geomorphology */
/* CLASSIFIER INFO {'value': '1', 'label': '1'} */
[tblposirec.geochk = "1"] {
  mark: symbol(circle);
  mark-size: 8px;
}
[tblposirec.geochk = "1"] :mark {
  fill: #ff0000;
}

